In [2]:
#importing libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

car_master_pune='1S9qECmC9EEo4e62Ujby9ATYUjkJbYE36BuvLtJFs_9c'
aatmanirbhar_pune='1-wFeo4oUvXUasGZNw1LN3V-FSOFbOy2j0xIjLIIB1LE'
car_no_master_list_pune='1IBgvI-sJX7ofS_fCn8cM9aS9xQgkG-kZp5nCgHTb9qI'
allotment_status_report_pune='1zjsWVZyeBOGBSvDtwFjIglNiUyHbOhtFNdHnsWtvT-k'

#New sms data

sheet= client.open_by_key(car_master_pune)
ws= sheet.worksheet('New SMS Data')
data = ws.get_all_values()
headers = data.pop(1)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[2,3,4,21,26,27,0,1]]
#Aatmanirbhar pune
sheet= client.open_by_key(aatmanirbhar_pune)
ws= sheet.worksheet('New SMS Data')
ws.batch_clear(['A:H'])
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')
print("new sms data updated succesfully")

#Adjustment

sheet= client.open_by_key(car_master_pune)
ws= sheet.worksheet('Adjustments')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[0,1,5,4,7,3]]
today = datetime.date.today()
previous_monday_week= today - datetime.timedelta(days=42)
df['Date']= df['Date'].str.replace('/', '-')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce',format='%d-%m-%Y')
df_5week = df[(df['Date'] >= pd.to_datetime(previous_monday_week)) & (df['Date'] <= pd.to_datetime(today))]
df_5week['Date']=df_5week['Date'].astype(str)
#Aatmanirbhar pune
sheet= client.open_by_key(aatmanirbhar_pune)
ws= sheet.worksheet('Adjustments')
ws.batch_clear(['A:F'])
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')
print("Adjustment updated successfully")

#Driver hisaab

sheet= client.open_by_key(car_master_pune)
ws= sheet.worksheet('Driver Hisaab')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[1,2,3,4,5]]
#Aatmanirbhar pune
sheet= client.open_by_key(aatmanirbhar_pune)
ws= sheet.worksheet('Driver Hisaab')
ws.batch_clear(['A:E'])
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')
print("Driver hisaab updated successfully")

#Allotment status report

sheet= client.open_by_key(allotment_status_report_pune)
ws= sheet.worksheet('Allotment Status Report')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[2,13,5,3]] 
#Aatmanirbhar pune
sheet= client.open_by_key(aatmanirbhar_pune)
ws= sheet.worksheet('Allotment Status Report')
ws.batch_clear(['A:D'])
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')
print("Allotment status report updated successfully")

#DM

sheet= client.open('Car No Master list')
ws= sheet.worksheet('Current')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
pune_team=dfm[dfm['Current DM'].isin(['Terrian Tuskers','Pune Leasing'])]
#Aatmanirbhar pune
sheet= client.open_by_key(aatmanirbhar_pune)
ws= sheet.worksheet('DM')
ws.batch_clear(['A:D'])
ws.update([pune_team.columns.values.tolist()] + pune_team.values.tolist(),value_input_option='USER_ENTERED')
print("DM updated successfully")
print('All sheets updated successfully')

new sms data updated succesfully
Adjustment updated successfully
Driver hisaab updated successfully
Allotment status report updated successfully
DM updated successfully
All sheets updated successfully

In [5]:
#New sms data

sheet= client.open_by_key(car_master_pune)
ws= sheet.worksheet('New SMS Data')
data = ws.get_all_values()
headers = data.pop(1)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[2,3,4,21,26,27,0,1]]
#Aatmanirbhar pune
sheet= client.open_by_key(aatmanirbhar_pune)
ws= sheet.worksheet('New SMS Data')
ws.batch_clear(['A:H'])
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')
print("new sms data updated succesfully")

new sms data updated succesfully

In [7]:
dfm['Current DM'].unique()

array(['Training', 'Deadly Shark', 'Red Eagle', 'Recovery',
       'Deep Hunters', 'Vinay Bhai Leasing', 'Silent Killers',
       'Terrific Tigers', 'Black Panthers', 'Roaring Lions', 'Vinay Bhai',
       'Pranay Rental', 'Terrian Tuskers', 'Pune Leasing',
       'Electric Vehicle', ''], dtype=object)

In [13]:
sheet= client.open('Car No Master list')
ws= sheet.worksheet('Current')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
pune_team=dfm[dfm['Current DM'].isin(['Terrian Tuskers','Pune Leasing'])]
pune_team
#Aatmanirbhar pune
# sheet= client.open_by_key(aatmanirbhar_pune)
# ws= sheet.worksheet('DM')
# ws.batch_clear(['A:D'])
# ws.update([pune_team.columns.values.tolist()] + pune_team.values.tolist(),value_input_option='USER_ENTERED')

      car_number       Current DM       Fleet ID Fleet Lead
1972  MH01DR7538  Terrian Tuskers
1987  MH01DR7620  Terrian Tuskers
1988  MH01DR7621  Terrian Tuskers
2014  MH01DR7669  Terrian Tuskers
2016  MH01DR7671  Terrian Tuskers
...          ...              ...            ...        ...
2316  MH01DR8690  Terrian Tuskers
2330  MH01DR8747  Terrian Tuskers
2331  MH01DR8748  Terrian Tuskers
2333  MH01DR8750  Terrian Tuskers
2638  MH12TV8949     Pune Leasing  everest02@606

[73 rows x 4 columns]