In [ ]:
#changes :

#1)fleet added
Seventeen Fleet - mumbai
Hyd leasing -3 - hyderabad
Hyd leasing -5 -hyderabad

#2)1 column name correction
'Paid to you : Trip balance : Payouts : Cash collected'

#3)new column name added
Paid to you:Your earnings:Fare:Pick-up distance
Paid to you:Your earnings:Fare:Pick-up time
Paid to you:Trip balance:Collection:Arrears collection
            
#4)changes because of spaces
'9 Fleet '
'Seedan Fleet'
'Hyd leasing-5'
'Everest HYD Leasing - 4'
'Hyd leasing -1 '
'Hyd leasing -2 '

In [20]:
# !pip install openpyxl
# for index, row1,row2 in df.iteritems():
#     tabs.append(row1)

In [129]:
#importing libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df = pd.read_excel (r'C:\Users\sagar\Downloads\uber fleet name & password (Recovered).xlsx')
df = df[["CITY","Narration name in tally"]]
# df=df["Narration name in tally"]
lst=[]
for index, row in df.iterrows():
    print (row["CITY"], row["Narration name in tally"])
    if row["CITY"]:
        lst.append(row["Narration name in tally"])

Mumbai 6278/278
Mumbai 620
Mumbai 877
Mumbai 108
Mumbai 11
Mumbai 12
Mumbai 13
Mumbai Fourteen Fleet
Mumbai 9 Fleet
Mumbai Seedan Fleet
Mumbai Prihans
Mumbai 982
Mumbai 776
Mumbai 981
Mumbai 816
Mumbai 455
Mumbai 788
DEL DEL-1
DEL DEL-2
Bangalore Pramod
Bangalore OP.BLR
Bangalore Everest BLR -3
Bangalore Everest BLR-4
Bangalore Everest BLR-5
Hyderabad Everest HYD-1
Hyderabad Everest HYD-2
Hyderabad Hyd
Hyderabad Hyd leasing -1
Hyderabad Hyd leasing -2
Hyderabad Everest HYD Leasing- 4
Pune  Pune-1
nan nan
nan nan
nan nan
nan nan
nan nan

# Uber Payment transaction google sheet.xlsx (3 tabs)

In [130]:
print(lst,end='')

['6278/278', 620, 877, 108, 11, 12, 13, 'Fourteen Fleet', '9 Fleet ', 'Seedan Fleet', 'Prihans', 982, 776, 981, 816, 455, 788, 'DEL-1', 'DEL-2', 'Pramod', 'OP.BLR', 'Everest BLR -3', 'Everest BLR-4', 'Everest BLR-5', 'Everest HYD-1', 'Everest HYD-2', 'Hyd ', 'Hyd leasing -1 ', 'Hyd leasing -2 ', 'Everest HYD Leasing- 4', 'Pune-1', nan, nan, nan, nan, nan]

In [131]:
tabs = ([str(elem) for elem in tabs])
print(tabs)

['6278/278', '620', '877', '108', '11', '12', '13', 'Fourteen Fleet', '9 Fleet ', 'Seedan Fleet', 'Prihans', '982', '776', '981', '816', '455', '788', 'DEL-1', 'DEL-2', 'Pramod', 'OP.BLR', 'Everest BLR -3', 'Everest BLR-4', 'Everest BLR-5', 'Everest HYD-1', 'Everest HYD-2', 'Hyd ', 'Hyd leasing -1 ', 'Hyd leasing -2 ', 'Everest HYD Leasing- 4', 'Pune-1', 'nan', 'nan', 'nan', 'nan', 'nan']

In [133]:
import mysql.connector
from mysql.connector import Error

In [15]:
#importing libraries

import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import mysql.connector
from mysql.connector import Error

mumbai=['6278','278','620','877','108','11','12','13','Fourteen Fleet','9 Fleet ','Seedan Fleet','982','776','981','816','455','788','93','Seventeen Fleet','Prihans']
delhi=['DEL-1', 'DEL-2']
bangalore=['Pramod','OP.BLR','Everest BLR -3','Everest BLR-4','Everest BLR-5','BLR leasing 2']
hyderabad=['Everest HYD-1','Everest HYD-2','Hyd','Hyd leasing -1 ','Hyd leasing -2 ','Everest HYD Leasing - 4','Hyd leasing -3','Hyd leasing-5']
pune=['Pune-1']
cities=['6278','278','620','877','108','11','12','13','Fourteen Fleet', '9 Fleet ','Seedan Fleet','982','776','981','816','455','788','93','Seventeen Fleet','Prihans','DEL-1', 'DEL-2','Pramod','OP.BLR','Everest BLR -3','Everest BLR-4','Everest BLR-5','BLR leasing 2','Everest HYD-1','Everest HYD-2','Hyd','Hyd leasing -1 ','Hyd leasing -2 ','Everest HYD Leasing - 4','Hyd leasing -3','Hyd leasing-5','Pune-1']
nfleet=input("Enter new fleet or no :").split(',')
if 'no' in nfleet:
    print("New Fleet not added")
elif nfleet==nfleet:
    cities.extend(nfleet)
cities
ws_input=input("Enter your file path :")
ws= "" + ws_input + ""
inp=input("enter city name : ")
tabs=[]
if 'delhi' in inp:
    tabs.extend(delhi)
    print("delhi tab contains : ",tabs)
elif 'mumbai' in inp:
    tabs.extend(mumbai)
    print("mumbai tab contains : ",tabs)
elif 'bangalore' in inp:
    tabs.extend(bangalore)
    print("bangalore tab contains : ",tabs)
elif 'hyderabad' in inp:
    tabs.extend(hyderabad)
    print("hyderabad tab contains : ",tabs)
elif 'pune' in inp:
    tabs.extend(pune)
    print("pune tab contains : ",tabs)
elif 'cities' in inp:
    tabs.extend(cities)
else:
    print("Please enter correct city name")
fleet_list=[]
sumofallpty=0
sumofallpty1=0
sumofallpty2=0
sumofallpty3=0
sumofallpty4=0
sumofallpty5=0
sumofallpty6=0
sumofallpty7=0
sumofallpty8=0
sumofallpty9=0
sumofallpty10=0
sumofallpty11=0
sumofallpty12=0
sumofallpty13=0
sumofallpty14=0
sumofallpty15=0
sumofallpty16=0
sumofallpty17=0
sumofallpty18=0
sumofallpty19=0
sumofallpty20=0
sumofallpty21=0
sumofallpty22=0
sumofallpty23=0
sumofallpty24=0
sumofallpty25=0
sumofallpty26=0
sumofallpty27=0
try:
    for i in tabs:
        if i in tabs:
            try:
                sheet_name=""+i+""
                df = pd.read_excel(ws,sheet_name=sheet_name)
                df_unique=df['Org alias'].unique()
                print("Fleet name :",df_unique,"and code is",i)
                print("\n")
                pty=df['Paid to you'].sum() 
                print("Paid to you",pty)
                pty1=df['Paid to you : Your earnings'].sum()
                print("Paid to you : Your earnings",pty1)
                try:
                    pty2=df['Paid to you : Trip balance : Payouts : Cash collected'].sum()
                except KeyError:
                    pty2 = 0
                print("Paid to you : Trip balance : Payouts : Cash collected",pty2)                                
                try:
                    pty3=df['Paid to you : Your earnings : Fare'].sum()
                except KeyError:
                    pty3 = 0
                print("Paid to you : Your earnings : Fare",pty3)
                try:
                    pty4=df['Paid to you : Your earnings : Taxes'].sum()
                except KeyError:
                    pty4 = 0
                print("Paid to you : Your earnings : Taxes",pty4)
                try:
                    pty5=df['Paid to you:Your earnings:Taxes:Income tax withholding'].sum()
                except KeyError:
                    pty5 = 0
                print("Paid to you:Your earnings:Taxes:Income tax withholding",pty5)
                try:
                    pty6=df['Paid to you:Your earnings:Fare:Fare'].sum()
                except KeyError:
                    pty6 = 0
                print("Paid to you:Your earnings:Fare:Fare",pty6)
                try:
                    pty7=df['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum()
                except KeyError:
                    pty7 = 0
                print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",pty7)
                try:
                    pty8=df['Paid to you:Trip balance:Refunds:Toll'].sum()
                except KeyError:
                    pty8 = 0    
                print("Paid to you:Trip balance:Refunds:Toll",pty8)
                try:
                    pty9=df['Paid to you:Your earnings:Fare:Cancellation'].sum()
                except KeyError:
                    pty9 = 0    
                print("Paid to you:Your earnings:Fare:Cancellation",pty9)
                try:
                    pty10=df['Paid to you:Your earnings:Taxes:TDS on promotions'].sum()
                except KeyError:
                    pty10 = 0    
                print("Paid to you:Your earnings:Taxes:TDS on promotions",pty10)
                try:
                    pty11=df['Paid to you:Your earnings:Tip'].sum()
                except KeyError:
                    pty11 = 0    
                print("Paid to you:Your earnings:Tip",pty11)
                try:
                    pty12=df['Paid to you:Trip balance:Refunds:Parking charges'].sum()
                except KeyError:
                    pty12 = 0    
                print("Paid to you:Trip balance:Refunds:Parking charges",pty12)
                try:
                    pty13=df['Paid to you:Your earnings:Promotion:Promotion'].sum()
                except KeyError:
                    pty13 = 0    
                print("Paid to you:Your earnings:Promotion:Promotion",pty13)
                try:
                    pty14=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
                except KeyError:
                    pty14 = 0    
                print("Paid to you:Your earnings:Fare:Adjustment",pty14)
                try:
                    pty15=df['Paid to you:Your earnings:Fare:Surge'].sum()
                except KeyError:
                    pty15 = 0    
                print("Paid to you:Your earnings:Fare:Surge",pty15)
                try:
                    pty16=df['Paid to you:Your earnings:Taxes:Tax on fare'].sum()
                except KeyError:
                    pty16 = 0    
                print("Paid to you:Your earnings:Taxes:Tax on fare",pty16)
                try:
                    pty17=df['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum()
                except KeyError:
                    pty17 = 0    
                print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",pty17)
                try:
                    pty18=df['Paid to you:Your earnings:Promotion:Quest'].sum()
                except KeyError:
                    pty18 = 0    
                print("Paid to you:Your earnings:Promotion:Quest",pty18)
                try:
                    pty19=df['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum()
                except KeyError:
                    pty19 = 0    
                print("Paid to you:Your earnings:Other earnings:Nighttime charges",pty19)
                try:
                    pty20=df['Paid to you:Your earnings:Promotion:Referral reward'].sum()
                except KeyError:
                     pty20 = 0
                print("Paid to you:Your earnings:Promotion:Referral reward",pty20)
                try:
                    pty21=df['Paid to you:Your earnings:Fare:Reservation Fee'].sum()
                except KeyError:
                     pty21 = 0
                print("Paid to you:Your earnings:Fare:Reservation Fee",pty21)
                try:
                    pty22=df['Paid to you:Your earnings:Other earnings:Adjustment'].sum()
                except KeyError:
                     pty22 = 0
                print("Paid to you:Your earnings:Other earnings:Adjustment",pty22)
                try:
                    pty23=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
                except KeyError:
                     pty23 = 0
                print("Paid to you:Your earnings:Fare:Adjustment",pty23)
                try:
                    pty24=df['Paid to you:Your earnings:Promotion:Boost*'].sum()
                except KeyError:
                    pty24 = 0
                print("Paid to you:Your earnings:Promotion:Boost*",pty24)
                try:
                    pty25=df['Paid to you:Your earnings:Fare:Pick-up distance'].sum()
                except KeyError:
                    pty25 = 0
                print("Paid to you:Your earnings:Fare:Pick-up distance",pty25)
                try:
                    pty26=df['Paid to you:Your earnings:Fare:Pick-up time'].sum()
                except KeyError:
                    pty26 = 0
                print("Paid to you:Your earnings:Fare:Pick-up time",pty26)
                try:
                    pty27=df['Paid to you:Trip balance:Collection:Arrears collection'].sum()
                except KeyError:
                    pty27 = 0
                print("Paid to you:Trip balance:Collection:Arrears collection",pty27)
                
                print("\n")
                fleet_dict={
                    "Fleet code":i,
                    "Fleet name ": df_unique,
                    "Paid to you": pty,
                    "Paid to you : Your earnings":pty1,
                    "Paid to you : Trip balance : Payouts : Cash collected" :pty2,
                    "Paid to you : Your earnings : Fare":pty3,
                    "Paid to you : Your earnings : Taxes":pty4,
                    "Paid to you:Your earnings:Taxes:Income tax withholding":pty5,
                    "Paid to you:Your earnings:Fare:Fare":pty6,
                    "Paid to you:Your earnings:Fare:Wait Time at Pick-up":pty7,
                    "Paid to you:Trip balance:Refunds:Toll":pty8,
                    "Paid to you:Your earnings:Fare:Cancellation":pty9,
                    "Paid to you:Your earnings:Taxes:TDS on promotions":pty10,
                    "Paid to you:Your earnings:Tip":pty11,
                    "Paid to you:Trip balance:Refunds:Parking charges":pty12,
                    "Paid to you:Your earnings:Promotion:Promotion":pty13,
                    "Paid to you:Your earnings:Fare:Adjustment":pty14,
                    "Paid to you:Your earnings:Fare:Surge":pty15,
                    "Paid to you:Your earnings:Taxes:Tax on fare":pty16,
                    "Paid to you:Trip balance:Payouts:Transferred To Bank Account":pty17,
                    "Paid to you:Your earnings:Promotion:Quest":pty18,
                    "Paid to you:Your earnings:Other earnings:Nighttime charges":pty19,
                    "Paid to you:Your earnings:Promotion:Referral reward":pty20,
                    "Paid to you:Your earnings:Fare:Reservation Fee":pty21,
                    "Paid to you:Your earnings:Other earnings:Adjustment":pty22,
                    "Paid to you:Your earnings:Fare:Adjustment":pty23,
                    "Paid to you:Your earnings:Promotion:Boost*":pty24,
                    "Paid to you:Your earnings:Fare:Pick-up distance":pty25,
                    "Paid to you:Your earnings:Fare:Pick-up time":pty26,
                    "Paid to you:Trip balance:Collection:Arrears collection":pty27
                    
                }
                fleet_list.append(fleet_dict)
                sumofallpty = sumofallpty+pty
                sumofallpty1 = sumofallpty1+pty1
                sumofallpty2 = sumofallpty2+pty2
                sumofallpty3 = sumofallpty3+pty3
                sumofallpty4 = sumofallpty4+pty4
                sumofallpty5 = sumofallpty5+pty5
                sumofallpty6 = sumofallpty6+pty6
                sumofallpty7 = sumofallpty7+pty7
                sumofallpty8 = sumofallpty8+pty8
                sumofallpty9 = sumofallpty9+pty9
                sumofallpty10 = sumofallpty10+pty10
                sumofallpty11 = sumofallpty11+pty11
                sumofallpty12 = sumofallpty12+pty12
                sumofallpty13 = sumofallpty13+pty13
                sumofallpty14 = sumofallpty14+pty14
                sumofallpty15 = sumofallpty15+pty15
                sumofallpty16 = sumofallpty16+pty16
                sumofallpty17 = sumofallpty17+pty17
                sumofallpty18 = sumofallpty18+pty18
                sumofallpty19 = sumofallpty19+pty19
                sumofallpty20 = sumofallpty20+pty20
                sumofallpty21 = sumofallpty21+pty21
                sumofallpty22 = sumofallpty22+pty22
                sumofallpty23 = sumofallpty23+pty23
                sumofallpty24 = sumofallpty24+pty24
                sumofallpty25 = sumofallpty25+pty25
                sumofallpty26 = sumofallpty26+pty26
                sumofallpty27 = sumofallpty27+pty27
            except:
                print(i,"Tab not found")
    print("Sum of above fleets are :")
    print("Total Paid to you",sumofallpty)
    print("Total Paid to you : Your earnings",sumofallpty1)
    print("Total Paid to you : Trip balance : Payouts : Cash collected",sumofallpty2)
    print("Total Paid to you : Your earnings : Fare",sumofallpty3)
    print("Total Paid to you : Your earnings : Taxes",sumofallpty4)
    print("Total Paid to you:Your earnings:Taxes:Income tax withholding",sumofallpty5)
    print("Total Paid to you:Your earnings:Fare:Fare",sumofallpty6)
    print("Total Paid to you:Your earnings:Fare:Wait Time at Pick-up",sumofallpty7)
    print("Total Paid to you:Trip balance:Refunds:Toll",sumofallpty8)
    print("Total Paid to you:Your earnings:Fare:Cancellation",sumofallpty9)
    print("Total Paid to you:Your earnings:Taxes:TDS on promotions",sumofallpty10)
    print("Total Paid to you:Your earnings:Tip",sumofallpty11)
    print("Total Paid to you:Trip balance:Refunds:Parking charges",sumofallpty12)
    print("Total Paid to you:Your earnings:Promotion:Promotion",sumofallpty13)
    print("Total Paid to you:Your earnings:Fare:Adjustment",sumofallpty14)
    print("Total Paid to you:Your earnings:Fare:Surge",sumofallpty15)
    print("Total Paid to you:Your earnings:Taxes:Tax on fare",sumofallpty16)
    print("Total Paid to you:Trip balance:Payouts:Transferred To Bank Account",sumofallpty17)
    print("Total Paid to you:Your earnings:Promotion:Quest",sumofallpty18)
    print("Total Paid to you:Your earnings:Other earnings:Nighttime charges",sumofallpty19)
    print("Total Paid to you:Your earnings:Promotion:Referral reward",sumofallpty20)
    print("Total Paid to you:Your earnings:Fare:Reservation Fee",sumofallpty21)
    print("Total Paid to you:Your earnings:Other earnings:Adjustment",sumofallpty22)
    print("Total Paid to you:Your earnings:Fare:Adjustment",sumofallpty23)
    print("Total Paid to you:Your earnings:Promotion:Boost*",sumofallpty24)
    print("Total Paid to you:Your earnings:Fare:Pick-up distance",sumofallpty25)
    print("Total Paid to you:Your earnings:Fare:Pick-up time",sumofallpty26)
    print("Total Paid to you:Trip balance:Collection:Arrears collection",sumofallpty27)
except Error as e:
    print(e,"Successfully")
df = pd.DataFrame(fleet_list)
dfm=df.T
dfm
summ_inp=input("Enter your summary name with date and .csv :- ")
dfm.to_csv(summ_inp,header=None)
print("Check the summary sheet from your folder")

Enter new fleet or no :no
New Fleet not added
Enter your file path :Copy of summary.xlsx
enter city name : pune
pune tab contains :  ['Pune-1']
Fleet name : ['Everest Fleet Private LimitedPune'] and code is Pune-1


Paid to you 102171.38999999997
Paid to you : Your earnings 642622.7
Paid to you : Trip balance : Payouts : Cash collected -436568
Paid to you : Your earnings : Fare 473810.41000000003
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -4907.46
Paid to you:Your earnings:Fare:Fare 466126.34
Paid to you:Your earnings:Fare:Wait Time at Pick-up 2759.58
Paid to you:Trip balance:Refunds:Toll 15200.560000000001
Paid to you:Your earnings:Fare:Cancellation 4374.01
Paid to you:Your earnings:Taxes:TDS on promotions -3515.6600000000003
Paid to you:Your earnings:Tip 520.1
Paid to you:Trip balance:Refunds:Parking charges 0
Paid to you:Your earnings:Promotion:Promotion 163050
Paid to you:Your earnings:Fare:Adjustment -803.99
Paid to you:Your earnings:Fare:Surge 80.63999999999999
Paid to you:Your earnings:Taxes:Tax on fare -150.69
Paid to you:Trip balance:Payouts:Transferred To Bank Account -119083.87
Paid to you:Your earnings:Promotion:Quest 12600
Paid to you:Your earnings:Other earnings:Nighttime charges 1100
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 0
Paid to you:Your earnings:Other earnings:Adjustment 116
Paid to you:Your earnings:Fare:Adjustment -803.99
Paid to you:Your earnings:Promotion:Boost* 0
Paid to you:Your earnings:Fare:Pick-up distance 1258.83
Paid to you:Your earnings:Fare:Pick-up time 0.4
Paid to you:Trip balance:Collection:Arrears collection 0


Sum of above fleets are :
Total Paid to you 102171.38999999997
Total Paid to you : Your earnings 642622.7
Total Paid to you : Trip balance : Payouts : Cash collected -436568
Total Paid to you : Your earnings : Fare 473810.41000000003
Total Paid to you : Your earnings : Taxes 0
Total Paid to you:Your earnings:Taxes:Income tax withholding -4907.46
Total Paid to you:Your earnings:Fare:Fare 466126.34
Total Paid to you:Your earnings:Fare:Wait Time at Pick-up 2759.58
Total Paid to you:Trip balance:Refunds:Toll 15200.560000000001
Total Paid to you:Your earnings:Fare:Cancellation 4374.01
Total Paid to you:Your earnings:Taxes:TDS on promotions -3515.6600000000003
Total Paid to you:Your earnings:Tip 520.1
Total Paid to you:Trip balance:Refunds:Parking charges 0
Total Paid to you:Your earnings:Promotion:Promotion 163050
Total Paid to you:Your earnings:Fare:Adjustment -803.99
Total Paid to you:Your earnings:Fare:Surge 80.63999999999999
Total Paid to you:Your earnings:Taxes:Tax on fare -150.69
Total Paid to you:Trip balance:Payouts:Transferred To Bank Account -119083.87
Total Paid to you:Your earnings:Promotion:Quest 12600
Total Paid to you:Your earnings:Other earnings:Nighttime charges 1100
Total Paid to you:Your earnings:Promotion:Referral reward 0
Total Paid to you:Your earnings:Fare:Reservation Fee 0
Total Paid to you:Your earnings:Other earnings:Adjustment 116
Total Paid to you:Your earnings:Fare:Adjustment -803.99
Total Paid to you:Your earnings:Promotion:Boost* 0
Total Paid to you:Your earnings:Fare:Pick-up distance 1258.83
Total Paid to you:Your earnings:Fare:Pick-up time 0.4
Total Paid to you:Trip balance:Collection:Arrears collection 0
Enter your summary name with date and .csv :- -
Check the summary sheet from your folder

In [7]:
#Copy of summary.xlsx

In [10]:
# summ_inp=input("Enter your summary name with date and .csv :- ")
# dfm.to_csv(summ_inp,header=None)

In [11]:
dfm

                                                                                      0
Fleet code                                                                       Pune-1
Fleet name                                          [Everest Fleet Private LimitedPune]
Paid to you                                                                   102171.39
Paid to you : Your earnings                                                    642622.7
Paid to you : Trip balance : Payouts : Cash col...                              -436568
Paid to you : Your earnings : Fare                                            473810.41
Paid to you : Your earnings : Taxes                                                   0
Paid to you:Your earnings:Taxes:Income tax with...                             -4907.46
Paid to you:Your earnings:Fare:Fare                                           466126.34
Paid to you:Your earnings:Fare:Wait Time at Pic...                              2759.58
Paid to you:Trip balance:Refunds:Toll                                          15200.56
Paid to you:Your earnings:Fare:Cancellation                                     4374.01
Paid to you:Your earnings:Taxes:TDS on promotions                              -3515.66
Paid to you:Your earnings:Tip                                                     520.1
Paid to you:Trip balance:Refunds:Parking charges                                      0
Paid to you:Your earnings:Promotion:Promotion                                    163050
Paid to you:Your earnings:Fare:Adjustment                                       -803.99
Paid to you:Your earnings:Fare:Surge                                              80.64
Paid to you:Your earnings:Taxes:Tax on fare                                     -150.69
Paid to you:Trip balance:Payouts:Transferred To...                           -119083.87
Paid to you:Your earnings:Promotion:Quest                                         12600
Paid to you:Your earnings:Other earnings:Nightt...                                 1100
Paid to you:Your earnings:Promotion:Referral re...                                    0
Paid to you:Your earnings:Fare:Reservation Fee                                        0
Paid to you:Your earnings:Other earnings:Adjust...                                  116
Paid to you:Your earnings:Promotion:Boost*                                            0
Paid to you:Your earnings:Fare:Pick-up distance                                 1258.83
Paid to you:Your earnings:Fare:Pick-up time                                         0.4
Paid to you:Trip balance:Collection:Arrears col...                                    0

In [4]:
dfm=df.T
dfm

                                                                                      0
Fleet code                                                                       Pune-1
Fleet name                                          [Everest Fleet Private LimitedPune]
Paid to you                                                                   102171.39
Paid to you : Your earnings                                                    642622.7
Paid to you : Trip balance : Payouts : Cash col...                              -436568
Paid to you : Your earnings : Fare                                            473810.41
Paid to you : Your earnings : Taxes                                                   0
Paid to you:Your earnings:Taxes:Income tax with...                             -4907.46
Paid to you:Your earnings:Fare:Fare                                           466126.34
Paid to you:Your earnings:Fare:Wait Time at Pic...                              2759.58
Paid to you:Trip balance:Refunds:Toll                                          15200.56
Paid to you:Your earnings:Fare:Cancellation                                     4374.01
Paid to you:Your earnings:Taxes:TDS on promotions                              -3515.66
Paid to you:Your earnings:Tip                                                     520.1
Paid to you:Trip balance:Refunds:Parking charges                                      0
Paid to you:Your earnings:Promotion:Promotion                                    163050
Paid to you:Your earnings:Fare:Adjustment                                       -803.99
Paid to you:Your earnings:Fare:Surge                                              80.64
Paid to you:Your earnings:Taxes:Tax on fare                                     -150.69
Paid to you:Trip balance:Payouts:Transferred To...                           -119083.87
Paid to you:Your earnings:Promotion:Quest                                         12600
Paid to you:Your earnings:Other earnings:Nightt...                                 1100
Paid to you:Your earnings:Promotion:Referral re...                                    0
Paid to you:Your earnings:Fare:Reservation Fee                                        0
Paid to you:Your earnings:Other earnings:Adjust...                                  116
Paid to you:Your earnings:Promotion:Boost*                                            0
Paid to you:Your earnings:Fare:Pick-up distance                                 1258.83
Paid to you:Your earnings:Fare:Pick-up time                                         0.4
Paid to you:Trip balance:Collection:Arrears col...                                    0

In [7]:
# cities=['626','243']
# nfleet=input("Enter new fleet or no :").split(',')
# if 'no' in nfleet:
#     print("New Fleet not added")
# elif nfleet==nfleet:
#     cities.extend(nfleet)
# cities

In [30]:
cities

['626', '243', 'wer']

In [7]:
fleet_list.clear()

In [7]:
fleet_list[0]

{'Fleet name ': array(['Everest Fleet Eight -(Fleet)'], dtype=object),
 'Paid to you': 16735.49000000002,
 'Paid to you : Your earnings': 4094414.98,
 'Paid to you : Trip balance : Payouts : Cash Collected': -3115024,
 'Paid to you : Your earnings : Fare': 3834055.83,
 'Paid to you : Your earnings : Taxes': 0,
 'Paid to you:Your earnings:Taxes:Income tax withholding': -40423.05,
 'Paid to you:Your earnings:Fare:Fare': 3766307.13,
 'Paid to you:Your earnings:Fare:Wait Time at Pick-up': 40988.24999999999,
 'Paid to you:Trip balance:Refunds:Toll': 186083.22999999998,
 'Paid to you:Your earnings:Fare:Cancellation': 20228.629999999997,
 'Paid to you:Your earnings:Taxes:TDS on promotions': -5992.2,
 'Paid to you:Your earnings:Tip': 4315,
 'Paid to you:Trip balance:Refunds:Parking charges': 10920,
 'Paid to you:Your earnings:Promotion:Promotion': 286300,
 'Paid to you:Your earnings:Fare:Adjustment': -8334.3,
 'Paid to you:Your earnings:Fare:Surge': 11469.59,
 'Paid to you:Your earnings:Taxes:Tax on fare': -652.59,
 'Paid to you:Trip balance:Payouts:Transferred To Bank Account': -1159618.72,
 'Paid to you:Your earnings:Promotion:Quest': 11100,
 'Paid to you:Your earnings:Other earnings:Nighttime charges': 3571.5000000000005,
 'Paid to you:Your earnings:Promotion:Referral reward': 187.49,
 'Paid to you:Your earnings:Fare:Reservation Fee': 619.06,
 'Paid to you:Your earnings:Other earnings:Adjustment': 1953,
 'Paid to you:Your earnings:Promotion:Boost*': 0,
 'Paid to you:Your earnings:Fare:Pick-up distance': 1088.43,
 'Paid to you:Your earnings:Fare:Pick-up time': 0,
 'Paid to you:Trip balance:Collection:Arrears collection': 0}

In [7]:
dfm.to_csv("summary.csv",header=None)

In [ ]:
# C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx
# 455,93,982

In [ ]:
cities=['6278','278','620','877','108','11','12','13','Fourteen Fleet', '9 Fleet ','Seedan Fleet','982','776','981','816','455','788','93','Seventeen Fleet','Prihans','DEL-1', 'DEL-2','Pramod','OP.BLR','Everest BLR -3','Everest BLR-4','Everest BLR-5','BLR leasing 2','Everest HYD-1','Everest HYD-2','Hyd','Hyd leasing -1 ','Hyd leasing -2 ','Everest HYD Leasing - 4','Hyd leasing -3','Hyd leasing-5','Pune-1']

# Rough work

In [42]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
ws_input=input("Enter your file path : ")
ws= "" + ws_input + ""
tabs=[]
tabs_input=input("Enter your tabs name here with comma : ").split(',')
tabs.extend((tabs_input))
# tabs=['982','455','93']
sumofallpty=0
sumofallpty1=0
sumofallpty2=0
sumofallpty3=0
sumofallpty4=0
sumofallpty5=0
sumofallpty6=0
sumofallpty7=0
sumofallpty8=0
sumofallpty9=0
sumofallpty10=0
sumofallpty11=0
sumofallpty12=0
sumofallpty13=0
sumofallpty14=0
sumofallpty15=0
sumofallpty16=0
sumofallpty17=0
sumofallpty18=0
sumofallpty19=0
sumofallpty20=0
sumofallpty21=0
sumofallpty22=0
sumofallpty23=0
sumofallpty24=0
for i in tabs:
    sheet_name=""+i+""
    df = pd.read_excel(ws,sheet_name=sheet_name)
    df_unique=df['Org alias'].unique()
    print("Fleet name :",df_unique,"and code is",i)
    print("\n")
    pty=df['Paid to you'].sum() 
    print("Paid to you",pty)
    pty1=df['Paid to you : Your earnings'].sum()
    print("Paid to you : Your earnings",pty1)
    pty2=df['Paid to you : Trip balance : Payouts : Cash Collected'].sum()
    print("Paid to you : Trip balance : Payouts : Cash Collected",pty2)
    pty3=df['Paid to you : Your earnings : Fare'].sum()
    print("Paid to you : Your earnings : Fare",pty3)
    pty4=df['Paid to you : Your earnings : Taxes'].sum()
    print("Paid to you : Your earnings : Taxes",pty4)
    pty5=df['Paid to you:Your earnings:Taxes:Income tax withholding'].sum()
    print("Paid to you:Your earnings:Taxes:Income tax withholding",pty5)
    pty6=df['Paid to you:Your earnings:Fare:Fare'].sum()
    print("Paid to you:Your earnings:Fare:Fare",pty6)
    pty7=df['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum()
    print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",pty7)
    pty8=df['Paid to you:Trip balance:Refunds:Toll'].sum()
    print("Paid to you:Trip balance:Refunds:Toll",pty8)
    pty9=df['Paid to you:Your earnings:Fare:Cancellation'].sum()
    print("Paid to you:Your earnings:Fare:Cancellation",pty9)
    pty10=df['Paid to you:Your earnings:Taxes:TDS on promotions'].sum()
    print("Paid to you:Your earnings:Taxes:TDS on promotions",pty10)
    pty11=df['Paid to you:Your earnings:Tip'].sum()
    print("Paid to you:Your earnings:Tip",pty11)
    pty12=df['Paid to you:Trip balance:Refunds:Parking charges'].sum()
    print("Paid to you:Trip balance:Refunds:Parking charges",pty12)
    pty13=df['Paid to you:Your earnings:Promotion:Promotion'].sum()
    print("Paid to you:Your earnings:Promotion:Promotion",pty13)
    pty14=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
    print("Paid to you:Your earnings:Fare:Adjustment",pty14)
    pty15=df['Paid to you:Your earnings:Fare:Surge'].sum()
    print("Paid to you:Your earnings:Fare:Surge",pty15)
    pty16=df['Paid to you:Your earnings:Taxes:Tax on fare'].sum()
    print("Paid to you:Your earnings:Taxes:Tax on fare",pty16)
    pty17=df['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum()
    print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",pty17)
    pty18=df['Paid to you:Your earnings:Promotion:Quest'].sum()
    print("Paid to you:Your earnings:Promotion:Quest",pty18)
    pty19=df['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum()
    print("Paid to you:Your earnings:Other earnings:Nighttime charges",pty19)
    try:
        pty20=df['Paid to you:Your earnings:Promotion:Referral reward'].sum()
    except KeyError:
         pty20 = 0
    print("Paid to you:Your earnings:Promotion:Referral reward",pty20)
    try:
        pty21=df['Paid to you:Your earnings:Fare:Reservation Fee'].sum()
    except KeyError:
         pty21 = 0
    print("Paid to you:Your earnings:Fare:Reservation Fee",pty21)
    pty22=df['Paid to you:Your earnings:Other earnings:Adjustment'].sum()
    print("Paid to you:Your earnings:Other earnings:Adjustment",pty22)
    pty23=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
    print("Paid to you:Your earnings:Fare:Adjustment",pty23)
    try:
        pty24=df['Paid to you:Your earnings:Promotion:Boost*'].sum()
    except KeyError:
         pty24 = 0
    print("Paid to you:Your earnings:Promotion:Boost*",pty24)

    print("\n")
    
    
    sumofallpty = sumofallpty+pty
    sumofallpty1 = sumofallpty1+pty1
    sumofallpty2 = sumofallpty2+pty2
    sumofallpty3 = sumofallpty3+pty3
    sumofallpty4 = sumofallpty4+pty4
    sumofallpty5 = sumofallpty5+pty5
    sumofallpty6 = sumofallpty6+pty6
    sumofallpty7 = sumofallpty7+pty7
    sumofallpty8 = sumofallpty8+pty8
    sumofallpty9 = sumofallpty9+pty9
    sumofallpty10 = sumofallpty10+pty10
    sumofallpty11 = sumofallpty11+pty11
    sumofallpty12 = sumofallpty12+pty12
    sumofallpty13 = sumofallpty13+pty13
    sumofallpty14 = sumofallpty14+pty14
    sumofallpty15 = sumofallpty15+pty15
    sumofallpty16 = sumofallpty16+pty16
    sumofallpty17 = sumofallpty17+pty17
    sumofallpty18 = sumofallpty18+pty18
    sumofallpty19 = sumofallpty19+pty19
    sumofallpty20 = sumofallpty20+pty20
    sumofallpty21 = sumofallpty21+pty21
    sumofallpty22 = sumofallpty22+pty22
    sumofallpty23 = sumofallpty23+pty23
    sumofallpty24 = sumofallpty24+pty24
print("Sum of above fleets are :")
print("Total Paid to you",sumofallpty)
print("Total Paid to you : Your earnings",sumofallpty1)
print("Total Paid to you : Trip balance : Payouts : Cash Collected",sumofallpty2)
print("Total Paid to you : Your earnings : Fare",sumofallpty3)
print("Total Paid to you : Your earnings : Taxes",sumofallpty4)
print("Total Paid to you:Your earnings:Taxes:Income tax withholding",sumofallpty5)
print("Total Paid to you:Your earnings:Fare:Fare",sumofallpty6)
print("Total Paid to you:Your earnings:Fare:Wait Time at Pick-up",sumofallpty7)
print("Total Paid to you:Trip balance:Refunds:Toll",sumofallpty8)
print("Total Paid to you:Your earnings:Fare:Cancellation",sumofallpty9)
print("Total Paid to you:Your earnings:Taxes:TDS on promotions",sumofallpty10)
print("Total Paid to you:Your earnings:Tip",sumofallpty11)
print("Total Paid to you:Trip balance:Refunds:Parking charges",sumofallpty12)
print("Total Paid to you:Your earnings:Promotion:Promotion",sumofallpty13)
print("Total Paid to you:Your earnings:Fare:Adjustment",sumofallpty14)
print("Total Paid to you:Your earnings:Fare:Surge",sumofallpty15)
print("Total Paid to you:Your earnings:Taxes:Tax on fare",sumofallpty16)
print("Total Paid to you:Trip balance:Payouts:Transferred To Bank Account",sumofallpty17)
print("Total Paid to you:Your earnings:Promotion:Quest",sumofallpty18)
print("Total Paid to you:Your earnings:Other earnings:Nighttime charges",sumofallpty19)
print("Total Paid to you:Your earnings:Promotion:Referral reward",sumofallpty20)
print("Total Paid to you:Your earnings:Fare:Reservation Fee",sumofallpty21)
print("Total Paid to you:Your earnings:Other earnings:Adjustment",sumofallpty22)
print("Total Paid to you:Your earnings:Fare:Adjustment",sumofallpty23)
print("Total Paid to you:Your earnings:Promotion:Boost*",sumofallpty24)
        
#C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx
#455,93,982
# df_982 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='982')
# df_455 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='455')
# df_93 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='93')

KeyboardInterrupt: Interrupted by user

In [6]:
lst=[]
lst_input=input("Enter numbers").split(',')
lst.extend((lst_input))
print(lst)
print(lst[0])

Enter numbers2323,343,34
['2323', '343', '34']
2323

In [39]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
mumbai=['6278','278','620','877','108','11','12','13','Fourteen Fleet', '9 Fleet', 'seedan Fleet', '982','776','981','816','455','788','93']
delhi=['DEL-1', 'DEL-2']
bangalore=['Pramod','OP.BLR','Everest BLR -3','Everest BLR-4','Everest BLR-5']
hyderabad=['Everest HYD-1','Everest HYD-2','Hyd', 'Hyd leasing -1','Hyd leasing -2', 'Everest HYD Leasing- 4']
pune=['Pune-1']
ws_input=input("Enter your file path :")
ws= "" + ws_input + ""
inp=input("enter city name : ")
print(inp)
tabs=[]
if 'delhi' in inp:
    tabs.extend(delhi)
    print("delhi tab contains : ",tabs)
elif 'mumbai' in inp:
    tabs.extend(mumbai)
    print("mumbai tab contains : ",tabs)
elif 'bangalore' in inp:
    tabs.extend(bangalore)
    print("bangalore tab contains : ",tabs)
elif 'hyderabad' in inp:
    tabs.extend(hyderabad)
    print("hyderabad tab contains : ",tabs)
elif 'pune' in inp:
    tabs.extend(pune)
    print("pune tab contains : ",tabs)
else:
    print("Enter correct city name")
sumofallpty=0
sumofallpty1=0
sumofallpty2=0
sumofallpty3=0
sumofallpty4=0
sumofallpty5=0
sumofallpty6=0
sumofallpty7=0
sumofallpty8=0
sumofallpty9=0
sumofallpty10=0
sumofallpty11=0
sumofallpty12=0
sumofallpty13=0
sumofallpty14=0
sumofallpty15=0
sumofallpty16=0
sumofallpty17=0
sumofallpty18=0
sumofallpty19=0
sumofallpty20=0
sumofallpty21=0
sumofallpty22=0
sumofallpty23=0
sumofallpty24=0
fleet_list=[]
try:
    for i in tabs:
        if i in tabs:
            try:
                sheet_name=""+i+""
                df = pd.read_excel(ws,sheet_name=sheet_name)
                df_unique=df['Org alias'].unique()
                print("Fleet name :",df_unique,"and code is",i)
                print("\n")
                pty=df['Paid to you'].sum() 
                print("Paid to you",pty)
                pty1=df['Paid to you : Your earnings'].sum()
                print("Paid to you : Your earnings",pty1)
                pty2=df['Paid to you : Trip balance : Payouts : Cash Collected'].sum()
                print("Paid to you : Trip balance : Payouts : Cash Collected",pty2)
                pty3=df['Paid to you : Your earnings : Fare'].sum()
                print("Paid to you : Your earnings : Fare",pty3)
                pty4=df['Paid to you : Your earnings : Taxes'].sum()
                print("Paid to you : Your earnings : Taxes",pty4)
                pty5=df['Paid to you:Your earnings:Taxes:Income tax withholding'].sum()
                print("Paid to you:Your earnings:Taxes:Income tax withholding",pty5)
                pty6=df['Paid to you:Your earnings:Fare:Fare'].sum()
                print("Paid to you:Your earnings:Fare:Fare",pty6)
                pty7=df['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum()
                print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",pty7)
                pty8=df['Paid to you:Trip balance:Refunds:Toll'].sum()
                print("Paid to you:Trip balance:Refunds:Toll",pty8)
                pty9=df['Paid to you:Your earnings:Fare:Cancellation'].sum()
                print("Paid to you:Your earnings:Fare:Cancellation",pty9)
                pty10=df['Paid to you:Your earnings:Taxes:TDS on promotions'].sum()
                print("Paid to you:Your earnings:Taxes:TDS on promotions",pty10)
                pty11=df['Paid to you:Your earnings:Tip'].sum()
                print("Paid to you:Your earnings:Tip",pty11)
                pty12=df['Paid to you:Trip balance:Refunds:Parking charges'].sum()
                print("Paid to you:Trip balance:Refunds:Parking charges",pty12)
                pty13=df['Paid to you:Your earnings:Promotion:Promotion'].sum()
                print("Paid to you:Your earnings:Promotion:Promotion",pty13)
                pty14=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
                print("Paid to you:Your earnings:Fare:Adjustment",pty14)
                pty15=df['Paid to you:Your earnings:Fare:Surge'].sum()
                print("Paid to you:Your earnings:Fare:Surge",pty15)
                pty16=df['Paid to you:Your earnings:Taxes:Tax on fare'].sum()
                print("Paid to you:Your earnings:Taxes:Tax on fare",pty16)
                pty17=df['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum()
                print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",pty17)
                pty18=df['Paid to you:Your earnings:Promotion:Quest'].sum()
                print("Paid to you:Your earnings:Promotion:Quest",pty18)
                pty19=df['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum()
                print("Paid to you:Your earnings:Other earnings:Nighttime charges",pty19)
                try:
                    pty20=df['Paid to you:Your earnings:Promotion:Referral reward'].sum()
                except KeyError:
                     pty20 = 0
                print("Paid to you:Your earnings:Promotion:Referral reward",pty20)
                try:
                    pty21=df['Paid to you:Your earnings:Fare:Reservation Fee'].sum()
                except KeyError:
                     pty21 = 0
                print("Paid to you:Your earnings:Fare:Reservation Fee",pty21)
                pty22=df['Paid to you:Your earnings:Other earnings:Adjustment'].sum()
                print("Paid to you:Your earnings:Other earnings:Adjustment",pty22)
                pty23=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
                print("Paid to you:Your earnings:Fare:Adjustment",pty23)
                try:
                    pty24=df['Paid to you:Your earnings:Promotion:Boost*'].sum()
                except KeyError:
                    pty24 = 0
                print("Paid to you:Your earnings:Promotion:Boost*",pty24)
                print("\n")
                fleet_dict={
                    
                    "Fleet name ": df_unique,
                    "Paid to you": pty,
                    "Paid to you : Your earnings":pty1,
                    "Paid to you : Trip balance : Payouts : Cash Collected" :pty2,
                    "Paid to you : Your earnings : Fare":pty3,
                    "Paid to you : Your earnings : Taxes":pty4,
                    "Paid to you:Your earnings:Taxes:Income tax withholding":pty5,
                    "Paid to you:Your earnings:Fare:Fare":pty6,
                    "Paid to you:Your earnings:Fare:Wait Time at Pick-up":pty7,
                    "Paid to you:Trip balance:Refunds:Toll":pty8,
                    "Paid to you:Your earnings:Fare:Cancellation":pty9,
                    "Paid to you:Your earnings:Taxes:TDS on promotions":pty10,
                    "Paid to you:Your earnings:Tip":pty11,
                    "Paid to you:Trip balance:Refunds:Parking charges":pty12,
                    "Paid to you:Your earnings:Promotion:Promotion":pty13,
                    "Paid to you:Your earnings:Fare:Adjustment":pty14,
                    "Paid to you:Your earnings:Fare:Surge":pty15,
                    "Paid to you:Your earnings:Taxes:Tax on fare":pty16,
                    "Paid to you:Trip balance:Payouts:Transferred To Bank Account":pty17,
                    "Paid to you:Your earnings:Promotion:Quest":pty18,
                    "Paid to you:Your earnings:Other earnings:Nighttime charges":pty19,
                    "Paid to you:Your earnings:Promotion:Referral reward":pty20,
                    "Paid to you:Your earnings:Fare:Reservation Fee":pty21,
                    "Paid to you:Your earnings:Other earnings:Adjustment":pty22,
                    "Paid to you:Your earnings:Fare:Adjustment":pty23,
                    "Paid to you:Your earnings:Promotion:Boost*":pty24
                    
                }
                fleet_list.append(fleet_dict)
                sumofallpty = sumofallpty+pty
                sumofallpty1 = sumofallpty1+pty1
                sumofallpty2 = sumofallpty2+pty2
                sumofallpty3 = sumofallpty3+pty3
                sumofallpty4 = sumofallpty4+pty4
                sumofallpty5 = sumofallpty5+pty5
                sumofallpty6 = sumofallpty6+pty6
                sumofallpty7 = sumofallpty7+pty7
                sumofallpty8 = sumofallpty8+pty8
                sumofallpty9 = sumofallpty9+pty9
                sumofallpty10 = sumofallpty10+pty10
                sumofallpty11 = sumofallpty11+pty11
                sumofallpty12 = sumofallpty12+pty12
                sumofallpty13 = sumofallpty13+pty13
                sumofallpty14 = sumofallpty14+pty14
                sumofallpty15 = sumofallpty15+pty15
                sumofallpty16 = sumofallpty16+pty16
                sumofallpty17 = sumofallpty17+pty17
                sumofallpty18 = sumofallpty18+pty18
                sumofallpty19 = sumofallpty19+pty19
                sumofallpty20 = sumofallpty20+pty20
                sumofallpty21 = sumofallpty21+pty21
                sumofallpty22 = sumofallpty22+pty22
                sumofallpty23 = sumofallpty23+pty23
                sumofallpty24 = sumofallpty24+pty24
            except:
                print(i,"tab not found")
    print("Sum of above fleets are :")
    print("Total Paid to you",sumofallpty)
    print("Total Paid to you : Your earnings",sumofallpty1)
    print("Total Paid to you : Trip balance : Payouts : Cash Collected",sumofallpty2)
    print("Total Paid to you : Your earnings : Fare",sumofallpty3)
    print("Total Paid to you : Your earnings : Taxes",sumofallpty4)
    print("Total Paid to you:Your earnings:Taxes:Income tax withholding",sumofallpty5)
    print("Total Paid to you:Your earnings:Fare:Fare",sumofallpty6)
    print("Total Paid to you:Your earnings:Fare:Wait Time at Pick-up",sumofallpty7)
    print("Total Paid to you:Trip balance:Refunds:Toll",sumofallpty8)
    print("Total Paid to you:Your earnings:Fare:Cancellation",sumofallpty9)
    print("Total Paid to you:Your earnings:Taxes:TDS on promotions",sumofallpty10)
    print("Total Paid to you:Your earnings:Tip",sumofallpty11)
    print("Total Paid to you:Trip balance:Refunds:Parking charges",sumofallpty12)
    print("Total Paid to you:Your earnings:Promotion:Promotion",sumofallpty13)
    print("Total Paid to you:Your earnings:Fare:Adjustment",sumofallpty14)
    print("Total Paid to you:Your earnings:Fare:Surge",sumofallpty15)
    print("Total Paid to you:Your earnings:Taxes:Tax on fare",sumofallpty16)
    print("Total Paid to you:Trip balance:Payouts:Transferred To Bank Account",sumofallpty17)
    print("Total Paid to you:Your earnings:Promotion:Quest",sumofallpty18)
    print("Total Paid to you:Your earnings:Other earnings:Nighttime charges",sumofallpty19)
    print("Total Paid to you:Your earnings:Promotion:Referral reward",sumofallpty20)
    print("Total Paid to you:Your earnings:Fare:Reservation Fee",sumofallpty21)
    print("Total Paid to you:Your earnings:Other earnings:Adjustment",sumofallpty22)
    print("Total Paid to you:Your earnings:Fare:Adjustment",sumofallpty23)
    print("Total Paid to you:Your earnings:Promotion:Boost*",sumofallpty24)
except:
    print("some error occured")
df = pd.DataFrame(fleet_list)
dfm=df.T
dfm.to_csv("summary.csv",header=None)

Enter your file path :C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx
enter city name : mumbai
mumbai
mumbai tab contains :  ['6278', '278', '620', '877', '108', '11', '12', '13', 'Fourteen Fleet', '9 Fleet', 'seedan Fleet', '982', '776', '981', '816', '455', '788', '93']
6278 tab not found
278 tab not found
620 tab not found
877 tab not found
108 tab not found
11 tab not found
12 tab not found
13 tab not found
Fourteen Fleet tab not found
9 Fleet tab not found
seedan Fleet tab not found
Fleet name : ['Everest Fleet Private LimitedPrivate Limited (Fleet)'] and code is 982


Paid to you 900992.95
Paid to you : Your earnings 2499270.61
Paid to you : Trip balance : Payouts : Cash Collected -1708482
Paid to you : Your earnings : Fare 2143391.41
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -22571.86
Paid to you:Your earnings:Fare:Fare 2103684.52
Paid to you:Your earnings:Fare:Wait Time at Pick-up 22948.45
Paid to you:Trip balance:Refunds:Toll 104444.32
Paid to you:Your earnings:Fare:Cancellation 10420.34
Paid to you:Your earnings:Taxes:TDS on promotions -7653.0599999999995
Paid to you:Your earnings:Tip 2465.1
Paid to you:Trip balance:Refunds:Parking charges 5760.02
Paid to you:Your earnings:Promotion:Promotion 371600
Paid to you:Your earnings:Fare:Adjustment -2544.7700000000004
Paid to you:Your earnings:Fare:Surge 8686.619999999999
Paid to you:Your earnings:Taxes:Tax on fare -221.18
Paid to you:Trip balance:Payouts:Transferred To Bank Account -830239.93
Paid to you:Your earnings:Promotion:Quest 6600
Paid to you:Your earnings:Other earnings:Nighttime charges 1285.7400000000002
Paid to you:Your earnings:Promotion:Referral reward 3624.46
Paid to you:Your earnings:Fare:Reservation Fee 95.24
Paid to you:Your earnings:Other earnings:Adjustment 750
Paid to you:Your earnings:Fare:Adjustment -2544.7700000000004
Paid to you:Your earnings:Promotion:Boost* 0


776 tab not found
981 tab not found
816 tab not found
Fleet name : ['Everest Fleet Five(Fleet)'] and code is 455


Paid to you 1070080.3599999999
Paid to you : Your earnings 2459837.66
Paid to you : Trip balance : Payouts : Cash Collected -1484696
Paid to you : Your earnings : Fare 1853573.5399999998
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -19520.34
Paid to you:Your earnings:Fare:Fare 1817094.58
Paid to you:Your earnings:Fare:Wait Time at Pick-up 20725.39
Paid to you:Trip balance:Refunds:Toll 90378.68000000001
Paid to you:Your earnings:Fare:Cancellation 11234.73
Paid to you:Your earnings:Taxes:TDS on promotions -12714.67
Paid to you:Your earnings:Tip 2765.01
Paid to you:Trip balance:Refunds:Parking charges 4560.02
Paid to you:Your earnings:Promotion:Promotion 612700
Paid to you:Your earnings:Fare:Adjustment -3456.34
Paid to you:Your earnings:Fare:Surge 7721.76
Paid to you:Your earnings:Taxes:Tax on fare -267.59
Paid to you:Trip balance:Payouts:Transferred To Bank Account -664780.17
Paid to you:Your earnings:Promotion:Quest 21400
Paid to you:Your earnings:Other earnings:Nighttime charges 285.72
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 0
Paid to you:Your earnings:Other earnings:Adjustment 1525.0
Paid to you:Your earnings:Fare:Adjustment -3456.34
Paid to you:Your earnings:Promotion:Boost* 90.99000000000001


788 tab not found
Fleet name : ['EVEREST FLEET PRIVATE LIMITED-'] and code is 93


Paid to you 577564.8400000001
Paid to you : Your earnings 1863289.1800000002
Paid to you : Trip balance : Payouts : Cash Collected -1369020
Paid to you : Your earnings : Fare 1665256.96
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -17516.1
Paid to you:Your earnings:Fare:Fare 1632936.98
Paid to you:Your earnings:Fare:Wait Time at Pick-up 18476.13
Paid to you:Trip balance:Refunds:Toll 78975.66
Paid to you:Your earnings:Fare:Cancellation 8599.919999999998
Paid to you:Your earnings:Taxes:TDS on promotions -4329.0599999999995
Paid to you:Your earnings:Tip 2542.73
Paid to you:Trip balance:Refunds:Parking charges 4320
Paid to you:Your earnings:Promotion:Promotion 213700
Paid to you:Your earnings:Fare:Adjustment -1827.86
Paid to you:Your earnings:Fare:Surge 6777.59
Paid to you:Your earnings:Taxes:Tax on fare -238.23000000000002
Paid to you:Trip balance:Payouts:Transferred To Bank Account -594389.52
Paid to you:Your earnings:Promotion:Quest 2400
Paid to you:Your earnings:Other earnings:Nighttime charges 1142.88
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 0
Paid to you:Your earnings:Other earnings:Adjustment 330
Paid to you:Your earnings:Fare:Adjustment -1827.86
Paid to you:Your earnings:Promotion:Boost* 0


Sum of above fleets are :
Total Paid to you 2548638.15
Total Paid to you : Your earnings 6822397.449999999
Total Paid to you : Trip balance : Payouts : Cash Collected -4562198
Total Paid to you : Your earnings : Fare 5662221.91
Total Paid to you : Your earnings : Taxes 0
Total Paid to you:Your earnings:Taxes:Income tax withholding -59608.299999999996
Total Paid to you:Your earnings:Fare:Fare 5553716.08
Total Paid to you:Your earnings:Fare:Wait Time at Pick-up 62149.97
Total Paid to you:Trip balance:Refunds:Toll 273798.66000000003
Total Paid to you:Your earnings:Fare:Cancellation 30254.989999999998
Total Paid to you:Your earnings:Taxes:TDS on promotions -24696.79
Total Paid to you:Your earnings:Tip 7772.84
Total Paid to you:Trip balance:Refunds:Parking charges 14640.04
Total Paid to you:Your earnings:Promotion:Promotion 1198000
Total Paid to you:Your earnings:Fare:Adjustment -7828.97
Total Paid to you:Your earnings:Fare:Surge 23185.969999999998
Total Paid to you:Your earnings:Taxes:Tax on fare -727.0
Total Paid to you:Trip balance:Payouts:Transferred To Bank Account -2089409.62
Total Paid to you:Your earnings:Promotion:Quest 30400
Total Paid to you:Your earnings:Other earnings:Nighttime charges 2714.34
Total Paid to you:Your earnings:Promotion:Referral reward 3624.46
Total Paid to you:Your earnings:Fare:Reservation Fee 95.24
Total Paid to you:Your earnings:Other earnings:Adjustment 2605.0
Total Paid to you:Your earnings:Fare:Adjustment -7828.97
Total Paid to you:Your earnings:Promotion:Boost* 90.99000000000001

In [50]:
# print(fleet_list)

In [44]:
df = pd.DataFrame(fleet_list)
dfm=df.T
dfm.to_csv("summary.csv",header=None)

In [49]:
dfm.to_csv("summary.csv",header=None)

In [ ]:
C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx
455,93,982
# df_982 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='982')
# df_455 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='455')
# df_93 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='93')

In [24]:
df = pd.read_excel("C:\\Users\\sagar\\Downloads\\Uber Payment transaction google sheet.xlsx",sheet_name='982')
df.columns

Index(['transaction UUID', 'Driver UUID', 'Driver first name',
       'Driver surname', 'Trip UUID', 'Description', 'Organisation name',
       'Org alias', 'vs reporting', 'Paid to you',
       'Paid to you : Your earnings',
       'Paid to you : Trip balance : Payouts : Cash Collected',
       'Paid to you : Your earnings : Fare',
       'Paid to you : Your earnings : Taxes',
       'Paid to you:Your earnings:Taxes:Income tax withholding',
       'Paid to you:Your earnings:Fare:Fare',
       'Paid to you:Your earnings:Fare:Wait Time at Pick-up',
       'Paid to you:Trip balance:Refunds:Toll',
       'Paid to you:Your earnings:Fare:Cancellation',
       'Paid to you:Your earnings:Taxes:TDS on promotions',
       'Paid to you:Your earnings:Tip',
       'Paid to you:Trip balance:Refunds:Parking charges',
       'Paid to you:Your earnings:Promotion:Promotion',
       'Paid to you:Your earnings:Fare:Adjustment',
       'Paid to you:Your earnings:Fare:Surge',
       'Paid to you:Your earnings:Taxes:Tax on fare',
       'Paid to you:Trip balance:Payouts:Transferred To Bank Account',
       'Paid to you:Your earnings:Promotion:Quest',
       'Paid to you:Your earnings:Other earnings:Nighttime charges',
       'Paid to you:Your earnings:Promotion:Referral reward',
       'Paid to you:Your earnings:Fare:Reservation Fee',
       'Paid to you:Your earnings:Other earnings:Adjustment',
       'Paid to you:Your earnings:Fare:Adjustment.1'],
      dtype='object')

In [11]:
ws_input=input("Enter your file path :")
ws= "" + ws_input + ""
tabs=[]
tabs_input=input("Enter your tabs name here :").split(',')
tabs.extend((tabs_input))
print(tabs)

Enter your file path :example.csv
Enter your tabs name here :23,23,23,2,3
['23', '23', '23', '2', '3']

In [55]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
mumbai=['6278','278','620','877','108','11','12','13','Fourteen Fleet', '9 Fleet', 'seedan Fleet', '982','776','981','816','455','788']
delhi=['DEL-1', 'DEL-2']
bangalore=['Pramod','OP.BLR','Everest BLR -3','Everest BLR-4','Everest BLR-5']
hyderabad=['Everest HYD-1','Everest HYD-2','Hyd', 'Hyd leasing -1','Hyd leasing -2', 'Everest HYD Leasing- 4']
pune=['Pune-1']
ws_input=input("Enter your file path :")
ws= "" + ws_input + ""
inp=input("enter city name : ")
print(inp)
tabs=[]
if 'delhi' in inp:
    tabs.extend(delhi)
    print("delhi tab contains : ",tabs)
elif 'mumbai' in inp:
    tabs.extend(mumbai)
    print("mumbai tab contains : ",tabs)
elif 'bangalore' in inp:
    tabs.extend(bangalore)
    print("bangalore tab contains : ",tabs)
elif 'hyderabad' in inp:
    tabs.extend(hyderabad)
    print("hyderabad tab contains : ",tabs)
elif 'pune' in inp:
    tabs.extend(pune)
    print("pune tab contains : ",tabs)
else:
    print("Enter correct city name")
try:
    for i in tabs:
        if i in tabs:
            try:
                sheet_name=""+i+""
                df = pd.read_excel(ws,sheet_name=sheet_name)
                df_unique=df['Org alias'].unique()
                print("Fleet name :",df_unique,"and code is",i)
                print("\n")
            except:
                print(i,"tab not found")
except:
    print("some error occured")

Enter your file path :C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx
enter city name : mumbai
mumbai
mumbai tab contains :  ['6278', '278', '620', '877', '108', '11', '12', '13', 'Fourteen Fleet', '9 Fleet', 'seedan Fleet', '982', '776', '981', '816', '455', '788']
6278 tab not found
278 tab not found
620 tab not found
877 tab not found
108 tab not found
11 tab not found
12 tab not found
13 tab not found
Fourteen Fleet tab not found
9 Fleet tab not found
seedan Fleet tab not found
Fleet name : ['Everest Fleet Private LimitedPrivate Limited (Fleet)'] and code is 982


776 tab not found
981 tab not found
816 tab not found
Fleet name : ['Everest Fleet Five(Fleet)'] and code is 455


788 tab not found

In [ ]:
mumbai=[6278,278,620,877,108,11,12,13,'Fourteen Fleet', '9 Fleet', 'seedan Fleet', 982,776,981,816,4555,788]
delhi=['DEL-1', 'DEL-2']
bangalore=['Pramod','OP.BLR','Everest BLR -3','Everest BLR-4','Everest BLR-5']
hyderabad=['Everest HYD-1','Everest HYD-2','Hyd', 'Hyd leasing -1','Hyd leasing -2', 'Everest HYD Leasing- 4']
pune=['Pune-1']
inp=input("enter city name : ")
print(inp)
tabs=[]
if 'delhi' in inp:
    tabs.extend(delhi)
    print(tabs)
elif 'mumbai' in inp:
    tabs.extend(mumbai)
    print(tabs)
elif 'bangalore' in inp:
    tabs.extend(bangalore)
    print(tabs)
elif 'hyderabad' in inp:
    tabs.extend(hyderabad)
    print(tabs)
elif 'pune' in inp:
    tabs.extend(pune)
    print(tabs)
else:
    print("none")

In [28]:
mumbai=[6278,278,620,877,108,11,12,13,'Fourteen Fleet', '9 Fleet', 'seedan Fleet', 982,776,981,816,4555,788]
for i in mumbai:
    print(i,end=' ')

6278 278 620 877 108 11 12 13 Fourteen Fleet 9 Fleet seedan Fleet 982 776 981 816 4555 788

In [18]:
mumbai_tab=[6278,278,620,877,108,11,12,13,'Fourteen Fleet', '9 Fleet', 'seedan Fleet', 982,776,981,816,4555,788]
# delhi=['DEL-1', 'DEL-2']
# inp=input("enter mumbai tab : ")
# tabs.extend(inp)
# print(tabs)
#tabs.clear()

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_17576/582776892.py, line 6)

In [14]:
Narration name in tally
6278/278
620
877
108
11
12
13
Fourteen Fleet
9 Fleet 
Seedan Fleet
Prihans
982
776
981
816
455
788

SyntaxError: invalid syntax (Temp/ipykernel_8280/2777173760.py, line 1)

In [16]:
# df_455 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='455')
# df_455_unique=df_455['Org alias'].unique()
# print("Unique rows in 455 tab :",df_455_unique)
# print("\n")
# print("Paid to you",df_455['Paid to you'].sum())
# print("Paid to you : Your earnings",df_455['Paid to you : Your earnings'].sum())
# print("Paid to you : Trip balance : Payouts : Cash Collected",df_455['Paid to you : Trip balance : Payouts : Cash Collected'].sum())
# print("Paid to you : Your earnings : Fare",df_455['Paid to you : Your earnings : Fare'].sum())
# print("Paid to you : Your earnings : Taxes",df_455['Paid to you : Your earnings : Taxes'].sum())
# print("Paid to you:Your earnings:Taxes:Income tax withholding",df_455['Paid to you:Your earnings:Taxes:Income tax withholding'].sum())
# print("Paid to you:Your earnings:Fare:Fare",df_455['Paid to you:Your earnings:Fare:Fare'].sum())
# print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",df_455['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum())
# print("Paid to you:Trip balance:Refunds:Toll",df_455['Paid to you:Trip balance:Refunds:Toll'].sum())
# print("Paid to you:Your earnings:Fare:Cancellation",df_455['Paid to you:Your earnings:Fare:Cancellation'].sum())
# print("Paid to you:Your earnings:Taxes:TDS on promotions",df_455['Paid to you:Your earnings:Taxes:TDS on promotions'].sum())
# print("Paid to you:Your earnings:Tip",df_455['Paid to you:Your earnings:Tip'].sum())
# print("Paid to you:Trip balance:Refunds:Parking charges",df_455['Paid to you:Trip balance:Refunds:Parking charges'].sum())
# print("Paid to you:Your earnings:Promotion:Promotion",df_455['Paid to you:Your earnings:Promotion:Promotion'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_455['Paid to you:Your earnings:Fare:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Surge",df_455['Paid to you:Your earnings:Fare:Surge'].sum())
# print("Paid to you:Your earnings:Taxes:Tax on fare",df_455['Paid to you:Your earnings:Taxes:Tax on fare'].sum())
# print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",df_455['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum())
# print("Paid to you:Your earnings:Promotion:Quest",df_455['Paid to you:Your earnings:Promotion:Quest'].sum())
# print("Paid to you:Your earnings:Other earnings:Nighttime charges",df_455['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum())
# # print("Paid to you:Your earnings:Promotion:Referral reward",df_455['Paid to you:Your earnings:Promotion:Referral reward'].sum())
# # print("Paid to you:Your earnings:Fare:Reservation Fee",df_455['Paid to you:Your earnings:Fare:Reservation Fee'].sum())
# # Paid to you:Your earnings:Promotion:Boost*
# print("Paid to you:Your earnings:Promotion:Boost*",df_455['Paid to you:Your earnings:Promotion:Boost*'].sum())
# print("Paid to you:Your earnings:Other earnings:Adjustment",df_455['Paid to you:Your earnings:Other earnings:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_455['Paid to you:Your earnings:Fare:Adjustment'].sum())

NameError: name 'pd' is not defined

In [50]:
# df_93 = pd.read_excel (r'C:\Users\sagar\Downloads\Uber Payment transaction google sheet.xlsx',sheet_name='93')
# df_93_unique=df_93['Org alias'].unique()
# print("Unique rows in 93 tab :",df_93_unique)
# print("\n")
# print("Paid to you",df_93['Paid to you'].sum())
# print("Paid to you : Your earnings",df_93['Paid to you : Your earnings'].sum())
# print("Paid to you : Trip balance : Payouts : Cash Collected",df_93['Paid to you : Trip balance : Payouts : Cash Collected'].sum())
# print("Paid to you : Your earnings : Fare",df_93['Paid to you : Your earnings : Fare'].sum())
# print("Paid to you : Your earnings : Taxes",df_93['Paid to you : Your earnings : Taxes'].sum())
# print("Paid to you:Your earnings:Taxes:Income tax withholding",df_93['Paid to you:Your earnings:Taxes:Income tax withholding'].sum())
# print("Paid to you:Your earnings:Fare:Fare",df_93['Paid to you:Your earnings:Fare:Fare'].sum())
# print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",df_93['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum())
# print("Paid to you:Trip balance:Refunds:Toll",df_93['Paid to you:Trip balance:Refunds:Toll'].sum())
# print("Paid to you:Your earnings:Fare:Cancellation",df_93['Paid to you:Your earnings:Fare:Cancellation'].sum())
# print("Paid to you:Your earnings:Taxes:TDS on promotions",df_93['Paid to you:Your earnings:Taxes:TDS on promotions'].sum())
# print("Paid to you:Your earnings:Tip",df_93['Paid to you:Your earnings:Tip'].sum())
# print("Paid to you:Trip balance:Refunds:Parking charges",df_93['Paid to you:Trip balance:Refunds:Parking charges'].sum())
# print("Paid to you:Your earnings:Promotion:Promotion",df_93['Paid to you:Your earnings:Promotion:Promotion'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_93['Paid to you:Your earnings:Fare:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Surge",df_93['Paid to you:Your earnings:Fare:Surge'].sum())
# print("Paid to you:Your earnings:Taxes:Tax on fare",df_93['Paid to you:Your earnings:Taxes:Tax on fare'].sum())
# print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",df_93['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum())
# print("Paid to you:Your earnings:Promotion:Quest",df_93['Paid to you:Your earnings:Promotion:Quest'].sum())
# print("Paid to you:Your earnings:Other earnings:Nighttime charges",df_93['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum())
# # print("Paid to you:Your earnings:Promotion:Referral reward",df_93['Paid to you:Your earnings:Promotion:Referral reward'].sum())
# # print("Paid to you:Your earnings:Fare:Reservation Fee",df_93['Paid to you:Your earnings:Fare:Reservation Fee'].sum())
# # print("Paid to you:Your earnings:Promotion:Boost*",df_93['Paid to you:Your earnings:Promotion:Boost*'].sum())
# print("Paid to you:Your earnings:Other earnings:Adjustment",df_93['Paid to you:Your earnings:Other earnings:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_93['Paid to you:Your earnings:Fare:Adjustment'].sum())

Unique rows in 93 tab : ['EVEREST FLEET PRIVATE LIMITED-']


Paid to you 577564.8400000001
Paid to you : Your earnings 1863289.1800000002
Paid to you : Trip balance : Payouts : Cash Collected -1369020
Paid to you : Your earnings : Fare 1665256.96
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -17516.1
Paid to you:Your earnings:Fare:Fare 1632936.98
Paid to you:Your earnings:Fare:Wait Time at Pick-up 18476.13
Paid to you:Trip balance:Refunds:Toll 78975.66
Paid to you:Your earnings:Fare:Cancellation 8599.919999999998
Paid to you:Your earnings:Taxes:TDS on promotions -4329.0599999999995
Paid to you:Your earnings:Tip 2542.73
Paid to you:Trip balance:Refunds:Parking charges 4320
Paid to you:Your earnings:Promotion:Promotion 213700
Paid to you:Your earnings:Fare:Adjustment -1827.86
Paid to you:Your earnings:Fare:Surge 6777.59
Paid to you:Your earnings:Taxes:Tax on fare -238.23000000000002
Paid to you:Trip balance:Payouts:Transferred To Bank Account -594389.52
Paid to you:Your earnings:Promotion:Quest 2400
Paid to you:Your earnings:Other earnings:Nighttime charges 1142.88
Paid to you:Your earnings:Other earnings:Adjustment 330
Paid to you:Your earnings:Fare:Adjustment -1827.86

<!-- # Everest Fleet Five(Fleet) -->

In [36]:
# df_eff = pd.read_excel (r'C:\Users\sagar\Downloads\Everest Fleet Five (Fleet).xlsx')
# df_eff_unique=df_455['Org alias'].unique()
# print("Unique rows in Everest Fleet Five (Fleet):",df_eff_unique)
# print("\n")
# print("Paid to you",df_eff['Paid to you'].sum())
# print("Paid to you : Your earnings",df_eff['Paid to you : Your earnings'].sum())
# print("Paid to you : Trip balance : Payouts : Cash Collected",df_eff['Paid to you : Trip balance : Payouts : Cash Collected'].sum())
# print("Paid to you : Your earnings : Fare",df_eff['Paid to you : Your earnings : Fare'].sum())
# print("Paid to you : Your earnings : Taxes",df_eff['Paid to you : Your earnings : Taxes'].sum())
# print("Paid to you:Your earnings:Taxes:Income tax withholding",df_eff['Paid to you:Your earnings:Taxes:Income tax withholding'].sum())
# print("Paid to you:Your earnings:Fare:Fare",df_eff['Paid to you:Your earnings:Fare:Fare'].sum())
# print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",df_eff['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum())
# print("Paid to you:Trip balance:Refunds:Toll",df_eff['Paid to you:Trip balance:Refunds:Toll'].sum())
# print("Paid to you:Your earnings:Fare:Cancellation",df_eff['Paid to you:Your earnings:Fare:Cancellation'].sum())
# print("Paid to you:Your earnings:Taxes:TDS on promotions",df_eff['Paid to you:Your earnings:Taxes:TDS on promotions'].sum())
# print("Paid to you:Your earnings:Tip",df_eff['Paid to you:Your earnings:Tip'].sum())
# print("Paid to you:Trip balance:Refunds:Parking charges",df_eff['Paid to you:Trip balance:Refunds:Parking charges'].sum())
# print("Paid to you:Your earnings:Promotion:Promotion",df_eff['Paid to you:Your earnings:Promotion:Promotion'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_eff['Paid to you:Your earnings:Fare:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Surge",df_eff['Paid to you:Your earnings:Fare:Surge'].sum())
# print("Paid to you:Your earnings:Taxes:Tax on fare",df_eff['Paid to you:Your earnings:Taxes:Tax on fare'].sum())
# print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",df_eff['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum())
# print("Paid to you:Your earnings:Promotion:Quest",df_eff['Paid to you:Your earnings:Promotion:Quest'].sum())
# print("Paid to you:Your earnings:Other earnings:Nighttime charges",df_eff['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum())
# # print("Paid to you:Your earnings:Promotion:Referral reward",df_eff['Paid to you:Your earnings:Promotion:Referral reward'].sum())
# # print("Paid to you:Your earnings:Fare:Reservation Fee",df_eff['Paid to you:Your earnings:Fare:Reservation Fee'].sum())
# print("Paid to you:Your earnings:Promotion:Boost*",df_eff['Paid to you:Your earnings:Promotion:Boost*'].sum())
# print("Paid to you:Your earnings:Other earnings:Adjustment",df_eff['Paid to you:Your earnings:Other earnings:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_eff['Paid to you:Your earnings:Fare:Adjustment'].sum())

NameError: name 'df_455' is not defined

<!-- # Everest Fleet Private Limited Private Limited (Fleet).xlsx -->

In [94]:
# sheet='C:\Users\sagar\Downloads\Everest Fleet Private Limited Private Limited (Fleet).xlsx'
# df_efplpl = pd.read_excel (r'C:\Users\sagar\Downloads\Everest Fleet Private Limited Private Limited (Fleet).xlsx')
# df_efplpl_unique=df_455['Org alias'].unique()
# print("Unique rows in Everest Fleet Private Limited Private Limited (Fleet):",df_efplpl_unique)
# print("\n")
# print("Paid to you",df_efplpl['Paid to you'].sum())
# print("Paid to you : Your earnings",df_efplpl['Paid to you : Your earnings'].sum())
# print("Paid to you : Trip balance : Payouts : Cash Collected",df_efplpl['Paid to you : Trip balance : Payouts : Cash Collected'].sum())
# print("Paid to you : Your earnings : Fare",df_efplpl['Paid to you : Your earnings : Fare'].sum())
# print("Paid to you : Your earnings : Taxes",df_efplpl['Paid to you : Your earnings : Taxes'].sum())
# print("Paid to you:Your earnings:Taxes:Income tax withholding",df_efplpl['Paid to you:Your earnings:Taxes:Income tax withholding'].sum())
# print("Paid to you:Your earnings:Fare:Fare",df_efplpl['Paid to you:Your earnings:Fare:Fare'].sum())
# print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",df_efplpl['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum())
# print("Paid to you:Trip balance:Refunds:Toll",df_efplpl['Paid to you:Trip balance:Refunds:Toll'].sum())
# print("Paid to you:Your earnings:Fare:Cancellation",df_efplpl['Paid to you:Your earnings:Fare:Cancellation'].sum())
# print("Paid to you:Your earnings:Taxes:TDS on promotions",df_efplpl['Paid to you:Your earnings:Taxes:TDS on promotions'].sum())
# print("Paid to you:Your earnings:Tip",df_efplpl['Paid to you:Your earnings:Tip'].sum())
# print("Paid to you:Trip balance:Refunds:Parking charges",df_efplpl['Paid to you:Trip balance:Refunds:Parking charges'].sum())
# print("Paid to you:Your earnings:Promotion:Promotion",df_efplpl['Paid to you:Your earnings:Promotion:Promotion'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_efplpl['Paid to you:Your earnings:Fare:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Surge",df_efplpl['Paid to you:Your earnings:Fare:Surge'].sum())
# print("Paid to you:Your earnings:Taxes:Tax on fare",df_efplpl['Paid to you:Your earnings:Taxes:Tax on fare'].sum())
# print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",df_efplpl['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum())
# print("Paid to you:Your earnings:Promotion:Quest",df_efplpl['Paid to you:Your earnings:Promotion:Quest'].sum())
# print("Paid to you:Your earnings:Other earnings:Nighttime charges",df_efplpl['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum())
# print("Paid to you:Your earnings:Promotion:Referral reward",df_efplpl['Paid to you:Your earnings:Promotion:Referral reward'].sum())
# print("Paid to you:Your earnings:Fare:Reservation Fee",df_efplpl['Paid to you:Your earnings:Fare:Reservation Fee'].sum())
# print("Paid to you:Your earnings:Other earnings:Adjustment",df_efplpl['Paid to you:Your earnings:Other earnings:Adjustment'].sum())
# print("Paid to you:Your earnings:Fare:Adjustment",df_efplpl['Paid to you:Your earnings:Fare:Adjustment'].sum())

In [95]:
# user_input=input("enter your file path:")
# file= "" + user_input + ""
# file

<!-- # Everest Fleet Pvt Ltd (Fleet).xlsx -->

In [96]:
#C:\Users\sagar\Downloads\Everest Fleet Pvt Ltd (Fleet).xlsx
ws_input=input("enter your file path :")
ws= "" + ws_input + ""
df_efpl = pd.read_excel(ws)
df_efpl_unique=df_efpl['Org alias'].unique()
print("Unique rows in Everest Fleet Pvt Ltd (Fleet) :",df_efpl_unique)
print("\n")
print("Paid to you",df_efpl['Paid to you'].sum())
print("Paid to you : Your earnings",df_efpl['Paid to you : Your earnings'].sum())
print("Paid to you : Trip balance : Payouts : Cash Collected",df_efpl['Paid to you : Trip balance : Payouts : Cash Collected'].sum())
print("Paid to you : Your earnings : Fare",df_efpl['Paid to you : Your earnings : Fare'].sum())
print("Paid to you : Your earnings : Taxes",df_efpl['Paid to you : Your earnings : Taxes'].sum())
print("Paid to you:Your earnings:Taxes:Income tax withholding",df_efpl['Paid to you:Your earnings:Taxes:Income tax withholding'].sum())
print("Paid to you:Your earnings:Fare:Fare",df_efpl['Paid to you:Your earnings:Fare:Fare'].sum())
print("Paid to you:Your earnings:Fare:Wait Time at Pick-up",df_efpl['Paid to you:Your earnings:Fare:Wait Time at Pick-up'].sum())
print("Paid to you:Trip balance:Refunds:Toll",df_efpl['Paid to you:Trip balance:Refunds:Toll'].sum())
print("Paid to you:Your earnings:Fare:Cancellation",df_efpl['Paid to you:Your earnings:Fare:Cancellation'].sum())
print("Paid to you:Your earnings:Taxes:TDS on promotions",df_efpl['Paid to you:Your earnings:Taxes:TDS on promotions'].sum())
print("Paid to you:Your earnings:Tip",df_efpl['Paid to you:Your earnings:Tip'].sum())
print("Paid to you:Trip balance:Refunds:Parking charges",df_efpl['Paid to you:Trip balance:Refunds:Parking charges'].sum())
print("Paid to you:Your earnings:Promotion:Promotion",df_efpl['Paid to you:Your earnings:Promotion:Promotion'].sum())
print("Paid to you:Your earnings:Fare:Adjustment",df_efpl['Paid to you:Your earnings:Fare:Adjustment'].sum())
print("Paid to you:Your earnings:Fare:Surge",df_efpl['Paid to you:Your earnings:Fare:Surge'].sum())
print("Paid to you:Your earnings:Taxes:Tax on fare",df_efpl['Paid to you:Your earnings:Taxes:Tax on fare'].sum())
print("Paid to you:Trip balance:Payouts:Transferred To Bank Account",df_efpl['Paid to you:Trip balance:Payouts:Transferred To Bank Account'].sum())
print("Paid to you:Your earnings:Promotion:Quest",df_efpl['Paid to you:Your earnings:Promotion:Quest'].sum())
print("Paid to you:Your earnings:Other earnings:Nighttime charges",df_efpl['Paid to you:Your earnings:Other earnings:Nighttime charges'].sum())
# print("Paid to you:Your earnings:Promotion:Referral reward",df_efpl['Paid to you:Your earnings:Promotion:Referral reward'].sum())
# print("Paid to you:Your earnings:Fare:Reservation Fee",df_efpl['Paid to you:Your earnings:Fare:Reservation Fee'].sum())
print("Paid to you:Your earnings:Other earnings:Adjustment",df_efpl['Paid to you:Your earnings:Other earnings:Adjustment'].sum())
print("Paid to you:Your earnings:Fare:Adjustment",df_efpl['Paid to you:Your earnings:Fare:Adjustment'].sum())

In [29]:
# df.head(1)

,transaction UUID,Driver UUID,Driver first name,Driver surname,Trip UUID,Description,Organisation name,Org alias,vs reporting,Paid to you,...,Paid to you:Your earnings:Fare:Adjustment,Paid to you:Your earnings:Fare:Surge,Paid to you:Your earnings:Taxes:Tax on fare,Paid to you:Trip balance:Payouts:Transferred To Bank Account,Paid to you:Your earnings:Promotion:Quest,Paid to you:Your earnings:Other earnings:Nighttime charges,Paid to you:Your earnings:Promotion:Referral reward,Paid to you:Your earnings:Fare:Reservation Fee,Paid to you:Your earnings:Other earnings:Adjustment,Paid to you:Your earnings:Fare:Adjustment.1
0,d9789dfe-8ee1-39e4-8df8-6960a968339d,fad3f771-3dad-487c-8c73-8d15df35a4e1,Sanjay,Gupta,bc64cb0a-8266-4771-80f6-a5e413ffa642,trip completed order,EVEREST FLEET PVT LTD,Everest Fleet Private LimitedPrivate Limited (...,2022-05-09 04:15:28.523 +0530 IST,-70.44,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,NaN

In [35]:
# if {'Paid to you:Your earnings:Promotion:Referral reward'}.issubset(df.columns):
#     pty20_test=df['Paid to you:Your earnings:Promotion:Referral reward' ].sum()
#     print(pty20_test)
# else:
#     print("no")

3624.46

In [ ]:
#  if df['Paid to you:Your earnings:Promotion:Referral reward'] in df:
#         pty20=df['Paid to you:Your earnings:Promotion:Referral reward' ].sum()    
#     else:
#         pty20=0

In [ ]:
#     total_fleet_dict={
                    
#                     "Fleet name ": "Totals of fleets are :  ",
#                     "Paid to you": sumofallpty,
#                     "Paid to you : Your earnings":sumofallpty1,
#                     "Paid to you : Trip balance : Payouts : Cash Collected" :sumofallpty2,
#                     "Paid to you : Your earnings : Fare":sumofallpty3,
#                     "Paid to you : Your earnings : Taxes":sumofallpty4,
#                     "Paid to you:Your earnings:Taxes:Income tax withholding":sumofallpty5,
#                     "Paid to you:Your earnings:Fare:Fare":sumofallpty6,
#                     "Paid to you:Your earnings:Fare:Wait Time at Pick-up":sumofallpty7,
#                     "Paid to you:Trip balance:Refunds:Toll":sumofallpty8,
#                     "Paid to you:Your earnings:Fare:Cancellation":sumofallpty9,
#                     "Paid to you:Your earnings:Taxes:TDS on promotions":sumofallpty10,
#                     "Paid to you:Your earnings:Tip":sumofallpty11,
#                     "Paid to you:Trip balance:Refunds:Parking charges":sumofallpty12,
#                     "Paid to you:Your earnings:Promotion:Promotion":sumofallpty13,
#                     "Paid to you:Your earnings:Fare:Adjustment":sumofallpty14,
#                     "Paid to you:Your earnings:Fare:Surge":sumofallpty15,
#                     "Paid to you:Your earnings:Taxes:Tax on fare":sumofallpty16,
#                     "Paid to you:Trip balance:Payouts:Transferred To Bank Account":sumofallpty17,
#                     "Paid to you:Your earnings:Promotion:Quest":sumofallpty18,
#                     "Paid to you:Your earnings:Other earnings:Nighttime charges":sumofallpty19,
#                     "Paid to you:Your earnings:Promotion:Referral reward":sumofallpty20,
#                     "Paid to you:Your earnings:Fare:Reservation Fee":sumofallpty21,
#                     "Paid to you:Your earnings:Other earnings:Adjustment":sumofallpty22,
#                     "Paid to you:Your earnings:Fare:Adjustment":sumofallpty23,
#                     "Paid to you:Your earnings:Promotion:Boost*":sumofallpty24
                    
                    
#                 }
#     fleet_list.append(total_fleet_dict)