In [53]:
# #importing libraries

# import pandas as pd
# import warnings
# warnings.filterwarnings("ignore")
# from openpyxl import load_workbook
# import mysql.connector
# from mysql.connector import Error

# df = pd.read_excel (r'C:\Users\sagar\Box\FLEET DATA\salam\uber fleet name & password.xlsx',sheet_name='Sheet1')
# df = df[["CITY","Narration name in tally"]]
# lst=['6278']
# for index, row in df.iterrows():
#     if row["CITY"]:
#         lst.append(row["Narration name in tally"])
# tabs=[]
# tabs = ([str(elem) for elem in lst])
# print("Tabs contains: ",tabs)

In [84]:
# #importing libraries
# import pandas as pd
# import warnings
# warnings.filterwarnings("ignore")
# from openpyxl import load_workbook
# import mysql.connector
# from mysql.connector import Error

# df = pd.read_excel (r'C:\Users\sagar\Box\FLEET DATA\salam\uber fleet name & password.xlsx',sheet_name='Sheet1')
# df = df[["CITY","Narration name in tally"]]
# lst=['6278']
# for index, row in df.iterrows():
#     if row["CITY"]:
#         lst.append(row["Narration name in tally"])
# tabs=[]
# tabs = ([str(elem) for elem in lst])
# # print("Tabs contains: ",tabs)

# fleet_list=[]
# try:
#     for i in tabs:
#         if i in tabs:
#             try:
#                 sheet_name=""+i+""
#                 ws='C:\\Users\\sagar\\Box\\FLEET DATA\\salam\\salam all sheets\\'+sheet_name+'.xlsx' #changes
#                 df = pd.read_excel(ws,sheet_name=0)#changes
#                 duplicated_columns_list = []
#                 list_of_all_columns = list(df.columns)
#                 for column in list_of_all_columns:
#                     if list_of_all_columns.count(column) > 1 and not column in duplicated_columns_list:
#                         duplicated_columns_list.append(column)
#                         duplicated_columns_list
#                 for column in duplicated_columns_list:
#                     list_of_all_columns[list_of_all_columns.index(column)] = column + '_1'
#                     list_of_all_columns[list_of_all_columns.index(column)] = column + '_2'
#                     list_of_all_columns[list_of_all_columns.index(column)] = column + '_3'

#                 df.columns = list_of_all_columns
# #                 print(df.columns)
                
                
#                 df_unique=df['Org alias'].unique()
#                 print("Fleet name :",df_unique,"and code is",i)
#                 print("\n")
                
#                 columns = pd.read_excel(r'C:\Users\sagar\Box\FLEET DATA\salam\uber fleet name & password.xlsx',sheet_name='columns')
#                 columns_list=list(columns['columns'])
#                 for col in columns_list:
#                     try:
#                         pty_columns=df[col].sum()
#                     except KeyError:
#                         pty_columns = 0
#                     print(col,pty_columns)
#                     fleet_dict={
#                     "Fleet code":i,
#                     "Fleet name":df_unique,
#                     col:pty_columns
#                         }
#                 fleet_list.append(fleet_dict)
#             except:
#                 print(i,"sheet not found")            
# except Error as e:
#     print(e,"Some error occured")
    
# df_list = pd.DataFrame(fleet_list)
# df_list
# # dfm=df_list.T
# # dfm

6278 sheet not found
278 sheet not found
620 sheet not found
877 sheet not found
Fleet name : ['Everest FleetTen (Fleet)'] and code is 108


Paid to you 91649.69
Paid to you : Your earnings 362341.75
Paid to you : Trip balance : Payouts : Cash collected -291599
Paid to you : Your earnings : Fare 349183.91000000003
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -3918.38
Paid to you:Your earnings:Fare:Fare 363467.29
Paid to you:Your earnings:Fare:Wait Time at Pick-up 5290.17
Paid to you:Trip balance:Refunds:Toll 20906.940000000002
Paid to you:Your earnings:Fare:Cancellation 1480.56
Paid to you:Your earnings:Taxes:TDS on promotions -337.78
Paid to you:Your earnings:Tip 525
Paid to you:Trip balance:Refunds:Parking charges 0
Paid to you:Your earnings:Promotion:Promotion 16625
Paid to you:Your earnings:Fare:Adjustment -21719.67
Paid to you:Your earnings:Fare:Surge 335.32
Paid to you:Your earnings:Taxes:Tax on fare 0
Paid to you:Trip balance:Payouts:Transferred To Bank Account 0
Paid to you:Your earnings:Promotion:Quest 0
Paid to you:Your earnings:Other earnings:Nighttime charges 0
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 0
Paid to you:Your earnings:Other earnings:Adjustment 264
Paid to you:Your earnings:Promotion:Boost* 0
Paid to you:Your earnings:Fare:Pick-up distance 31.48
Paid to you:Your earnings:Fare:Pick-up time 0
Paid to you:Trip balance:Collection:Arrears collection 0
Paid to you:Trip balance:Refunds:Non-trip balance (misc.) 0
Paid to you:Your earnings:Other earnings:COVID-19 Vaccination Reward 0
Paid to you:Your earnings:Fare:Fare Adjustment 0
Paid to you:Your earnings:Other earnings:Minimum earnings promotion payout 0
Paid to you:Your earnings:Fare:Max Fare Adjustment 0
Paid to you:Your earnings:Other fees:Adjustment 0
gwu : Paid to you:Your earnings:Promotion:Promotion 0
Paid to you:Trip balance:Payouts:Scheduled pay return 0
Fleet name : ['Everest FleetEleven'] and code is 11 fleet


Paid to you 168152.45
Paid to you : Your earnings 518272.56000000006
Paid to you : Trip balance : Payouts : Cash collected -374037
Paid to you : Your earnings : Fare 448626.51
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -4908.33
Paid to you:Your earnings:Fare:Fare 457966.32
Paid to you:Your earnings:Fare:Wait Time at Pick-up 6411.12
Paid to you:Trip balance:Refunds:Toll 23916.89
Paid to you:Your earnings:Fare:Cancellation 1481.85
Paid to you:Your earnings:Taxes:TDS on promotions -1512.7
Paid to you:Your earnings:Tip 289.22
Paid to you:Trip balance:Refunds:Parking charges 0
Paid to you:Your earnings:Promotion:Promotion 74254
Paid to you:Your earnings:Fare:Adjustment -18617.07
Paid to you:Your earnings:Fare:Surge 788.81
Paid to you:Your earnings:Taxes:Tax on fare 0
Paid to you:Trip balance:Payouts:Transferred To Bank Account 0
Paid to you:Your earnings:Promotion:Quest 0
Paid to you:Your earnings:Other earnings:Nighttime charges 142.86
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 95.24
Paid to you:Your earnings:Other earnings:Adjustment 1381
Paid to you:Your earnings:Promotion:Boost* 0
Paid to you:Your earnings:Fare:Pick-up distance 313.1
Paid to you:Your earnings:Fare:Pick-up time 0
Paid to you:Trip balance:Collection:Arrears collection 0
Paid to you:Trip balance:Refunds:Non-trip balance (misc.) 0
Paid to you:Your earnings:Other earnings:COVID-19 Vaccination Reward 0
Paid to you:Your earnings:Fare:Fare Adjustment 0
Paid to you:Your earnings:Other earnings:Minimum earnings promotion payout 0
Paid to you:Your earnings:Fare:Max Fare Adjustment 0
Paid to you:Your earnings:Other fees:Adjustment 0
gwu : Paid to you:Your earnings:Promotion:Promotion 0
Paid to you:Trip balance:Payouts:Scheduled pay return 0
Fleet name : ['Everest FleetTwelve'] and code is 12


Paid to you 41035.75
Paid to you : Your earnings 150053.40000000002
Paid to you : Trip balance : Payouts : Cash collected -114673
Paid to you : Your earnings : Fare 131945.37
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -1467.3600000000001
Paid to you:Your earnings:Fare:Fare 138092.39
Paid to you:Your earnings:Fare:Wait Time at Pick-up 2249.51
Paid to you:Trip balance:Refunds:Toll 5655.349999999999
Paid to you:Your earnings:Fare:Cancellation 653.4499999999999
Paid to you:Your earnings:Taxes:TDS on promotions -393.61
Paid to you:Your earnings:Tip 295
Paid to you:Trip balance:Refunds:Parking charges 0
Paid to you:Your earnings:Promotion:Promotion 19674
Paid to you:Your earnings:Fare:Adjustment -9138.67
Paid to you:Your earnings:Fare:Surge 44.27
Paid to you:Your earnings:Taxes:Tax on fare 0
Paid to you:Trip balance:Payouts:Transferred To Bank Account 0
Paid to you:Your earnings:Promotion:Quest 0
Paid to you:Your earnings:Other earnings:Nighttime charges 0
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 0
Paid to you:Your earnings:Other earnings:Adjustment 0
Paid to you:Your earnings:Promotion:Boost* 0
Paid to you:Your earnings:Fare:Pick-up distance 44.42
Paid to you:Your earnings:Fare:Pick-up time 0
Paid to you:Trip balance:Collection:Arrears collection 0
Paid to you:Trip balance:Refunds:Non-trip balance (misc.) 0
Paid to you:Your earnings:Other earnings:COVID-19 Vaccination Reward 0
Paid to you:Your earnings:Fare:Fare Adjustment 0
Paid to you:Your earnings:Other earnings:Minimum earnings promotion payout 0
Paid to you:Your earnings:Fare:Max Fare Adjustment 0
Paid to you:Your earnings:Other fees:Adjustment 0
gwu : Paid to you:Your earnings:Promotion:Promotion 0
Paid to you:Trip balance:Payouts:Scheduled pay return 0
Fleet name : ['Everest FleetThirteen (Fleet)'] and code is 13


Paid to you 78217.13
Paid to you : Your earnings 372141.43
Paid to you : Trip balance : Payouts : Cash collected -310975
Paid to you : Your earnings : Fare 359794.75
Paid to you : Your earnings : Taxes 0
Paid to you:Your earnings:Taxes:Income tax withholding -3939.7
Paid to you:Your earnings:Fare:Fare 369445.93
Paid to you:Your earnings:Fare:Wait Time at Pick-up 5147.13
Paid to you:Trip balance:Refunds:Toll 17090.699999999997
Paid to you:Your earnings:Fare:Cancellation 1775.53
Paid to you:Your earnings:Taxes:TDS on promotions -316.34000000000003
Paid to you:Your earnings:Tip 500
Paid to you:Trip balance:Refunds:Parking charges 0
Paid to you:Your earnings:Promotion:Promotion 14907
Paid to you:Your earnings:Fare:Adjustment -16823.08
Paid to you:Your earnings:Fare:Surge 185.01999999999998
Paid to you:Your earnings:Taxes:Tax on fare 0
Paid to you:Trip balance:Payouts:Transferred To Bank Account 0
Paid to you:Your earnings:Promotion:Quest 0
Paid to you:Your earnings:Other earnings:Nighttime charges 285.72
Paid to you:Your earnings:Promotion:Referral reward 0
Paid to you:Your earnings:Fare:Reservation Fee 0
Paid to you:Your earnings:Other earnings:Adjustment 910
Paid to you:Your earnings:Promotion:Boost* 0
Paid to you:Your earnings:Fare:Pick-up distance 64.22
Paid to you:Your earnings:Fare:Pick-up time 0
Paid to you:Trip balance:Collection:Arrears collection 0
Paid to you:Trip balance:Refunds:Non-trip balance (misc.) 0
Paid to you:Your earnings:Other earnings:COVID-19 Vaccination Reward 0
Paid to you:Your earnings:Fare:Fare Adjustment 0
Paid to you:Your earnings:Other earnings:Minimum earnings promotion payout 0
Paid to you:Your earnings:Fare:Max Fare Adjustment 0
Paid to you:Your earnings:Other fees:Adjustment 0
gwu : Paid to you:Your earnings:Promotion:Promotion 0
Paid to you:Trip balance:Payouts:Scheduled pay return 0
Fourteen Fleet sheet not found
nine Fleet sheet not found
Seedan Fleet sheet not found
Everest Mumbai-17 sheet not found
Everest Mumbai-18 sheet not found
Everest Mumbai-19 sheet not found
Everest Mumbai-20 sheet not found
Everest Mumbai-21 sheet not found
Everest Mumbai-22 sheet not found
Everest Mumbai-23 sheet not found
Everest Mumbai-24 sheet not found
Everest Mumbai-25 sheet not found
Prihans sheet not found
982 sheet not found
776 sheet not found
981 sheet not found
816 sheet not found
455 sheet not found
788 sheet not found
DEL-1 sheet not found
DEL-2 sheet not found
DEL-3 sheet not found
Pramod sheet not found
Everest BLR leasing -2 sheet not found
Everest BLR -3 sheet not found
Everest BLR-4 sheet not found
Everest BLR-5 sheet not found
Everest BLR leasing -3 sheet not found
Everest BLR leasing -4 sheet not found
Everest BLR leasing -5 sheet not found
Everest BLR-6 sheet not found
Everest BLR-7 sheet not found
Everest BLR-8 sheet not found
Everest HYD-1 sheet not found
Everest HYD-2 sheet not found
Hyd leasing -1 sheet not found
Hyd leasing -2 sheet not found
Hyd leasing -3 sheet not found
Hyd leasing -4 sheet not found
Everest HYD-3 sheet not found
Everest HYD-4 sheet not found
Everest HYD-5 sheet not found
Hyd leasing-5 sheet not found
Hyd leasing-6 sheet not found
Pune-1 sheet not found
Pune-2 sheet not found
nan sheet not found
nan sheet not found
nan sheet not found
nan sheet not found
nan sheet not found
nan sheet not found

,Fleet code,Fleet name,Paid to you:Trip balance:Payouts:Scheduled pay return
0,108,[Everest FleetTen (Fleet)],0
1,11 fleet,[Everest FleetEleven],0
2,12,[Everest FleetTwelve],0
3,13,[Everest FleetThirteen (Fleet)],0

In [93]:
#importing libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from openpyxl import load_workbook
import mysql.connector
from mysql.connector import Error

df = pd.read_excel (r'C:\Users\sagar\Box\FLEET DATA\salam\uber fleet name & password.xlsx',sheet_name='Sheet1')
df = df[["CITY","Narration name in tally"]]
lst=['6278']
for index, row in df.iterrows():
    if row["CITY"]:
        lst.append(row["Narration name in tally"])
tabs=[]
tabs = ([str(elem) for elem in lst])
print("Tabs contains: ",tabs)

In [4]:
#importing libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from openpyxl import load_workbook
import mysql.connector
from mysql.connector import Error

df = pd.read_excel (r'C:\Users\sagar\Box\FLEET DATA\salam\uber fleet name & password.xlsx',sheet_name='Sheet1')
df = df[["CITY","Narration name in tally"]]
lst=['6278']
for index, row in df.iterrows():
    if row["CITY"]:
        lst.append(row["Narration name in tally"])
tabs=[]
tabs = ([str(elem) for elem in lst])
print("Tabs contains: ",tabs)

fleet_list=[]
try:
    for i in tabs:
        if i in tabs:
            try:
                sheet_name=""+i+""
                ws='C:\\Users\\sagar\\Box\\FLEET DATA\\salam\\salam all sheets\\'+sheet_name+'.xlsx' #changes
                df = pd.read_excel(ws,sheet_name=0)#changes
                duplicated_columns_list = []
                list_of_all_columns = list(df.columns)
                for column in list_of_all_columns:
                    if list_of_all_columns.count(column) > 1 and not column in duplicated_columns_list:
                        duplicated_columns_list.append(column)
                        duplicated_columns_list
                for column in duplicated_columns_list:
                    list_of_all_columns[list_of_all_columns.index(column)] = column + '_1'
                    list_of_all_columns[list_of_all_columns.index(column)] = column + '_2'
                    list_of_all_columns[list_of_all_columns.index(column)] = column + '_3'

                df.columns = list_of_all_columns
#                 print(df.columns)
                
                
                df_unique=df['Org alias'].unique()
                print("Fleet name :",df_unique,"and code is",i)
                
                #separating gwu columns into two 
                df_not_gwu=df[~df["Description"].str.contains("GwU")]
                df_gwu=df[df["Description"].str.contains("GwU")]
                
                try:
                    df_not_gwu_column=df_not_gwu['Paid to you:Your earnings:Promotion:Promotion'].sum()
                except KeyError:
                    df_not_gwu_column = 0    
#                 print("Paid to you:Your earnings:Promotion:Promotion",df_not_gwu_column)                    
                try:
                    gwu_promotion_column=df_gwu['Paid to you:Your earnings:Promotion:Promotion'].sum()
                except KeyError:
                    gwu_promotion_column = 0    
#                 print("gwu:Paid to you:Your earnings:Promotion:Promotion",gwu_promotion_column)               
                
                #Paid to you:Trip balance:Refunds:Toll and duplicate columns + Paid to you:Trip balance:Expenses:Toll
                try:
                    pty1=df['Paid to you:Trip balance:Refunds:Toll'].sum()
                except KeyError:
                    pty1 = 0    
#                 print("Paid to you:Trip balance:Refunds:Toll",pty1)
                try:
                    pty2=df['Paid to you:Trip balance:Refunds:Toll.1'].sum()
                except KeyError:
                    pty2 = 0    
#                 print("Paid to you:Trip balance:Refunds:Toll.1",pty2)                
                try:
                    pty3=df['Paid to you:Trip balance:Expenses:Toll'].sum()
                except KeyError:
                    pty3 = 0
#                 print("Paid to you:Trip balance:Expenses:Toll",pty3)
                
                #Paid to you:Your earnings:Fare:Adjustment duplicate columns
                try:
                    pty4=df['Paid to you:Your earnings:Fare:Adjustment'].sum()
                except KeyError:
                    pty4 = 0    
#                 print("Paid to you:Your earnings:Fare:Adjustment",pty4)
                
                try:
                    pty5=df['Paid to you:Your earnings:Fare:Adjustment.1'].sum()
                except KeyError:
                    pty5 = 0
#                 print("Paid to you:Your earnings:Fare:Adjustment.1",pty5)                
                
                try:
                    pty6=df['Paid to you:Your earnings:Fare:Adjustment.2'].sum()
                except KeyError:
                    pty6 = 0
#                 print("Paid to you:Your earnings:Fare:Adjustment.2",pty6)                 
                               
                try:
                    pty7=df['Paid to you:Your earnings:Fare:Adjustment.3'].sum()
                except KeyError:
                    pty7 = 0
#                 print("Paid to you:Your earnings:Fare:Adjustment.3",pty7)                                 
                
                columns = pd.read_excel(r'C:\Users\sagar\Box\FLEET DATA\salam\uber fleet name & password.xlsx',sheet_name='columns')
                columns_list=list(columns['columns'])  
                fleet_dict={}
                for col in columns_list:
                    try:
                        pty_columns=df[col].sum()
                    except KeyError:
                        pty_columns = 0
#                     print(col,pty_columns)   
                    fleet_dict.update({
                        "Fleet code":i,
                        "Fleet name":df_unique,
                        "Paid to you:Your earnings:Promotion:Promotion":df_not_gwu_column,
                        "gwu:Paid to you:Your earnings:Promotion:Promotion":gwu_promotion_column,
                        "Paid to you:Trip balance:Refunds:Toll":pty1+pty2+pty3,
                        "Paid to you:Your earnings:Fare:Adjustment":pty4+pty5+pty6+pty7,
                        col:pty_columns})
                fleet_list.append(fleet_dict)
            except:
                print(i,"sheet not found")            
except Error as e:
    print(e,"Some error occured")
    
df_list = pd.DataFrame(fleet_list)
dfm=df_list.T
summ_inp=input("Enter your summary name with date and .csv :- ")
dfm.to_csv(summ_inp,header=None)
print("Summary sheet created : Check the summary sheet from your folder")

Tabs contains:  ['6278', '278', '620', '877', '108', '11 fleet', '12', '13', 'Fourteen Fleet', 'nine Fleet', 'Seedan Fleet', 'Everest Mumbai-17', 'Everest Mumbai-18', 'Everest Mumbai-19', 'Everest Mumbai-20', 'Everest Mumbai-21', 'Everest Mumbai-22', 'Everest Mumbai-23', 'Everest Mumbai-24', 'Everest Mumbai-25', 'Everest Mumbai-26', 'Everest Mumbai-27', 'Everest Mumbai-28', 'Prihans', '982', '776', '981', '816', '455', '788', 'DEL-1', 'DEL-2', 'DEL-3', 'DEL-4', 'DEL-5', 'DEL-6', 'Pramod', 'Everest BLR leasing -2', 'Everest BLR -3', 'Everest BLR-4', 'Everest BLR-5', 'Everest BLR leasing -3', 'Everest BLR leasing -4', 'Everest BLR leasing -5', 'Everest BLR-6', 'Everest BLR-7', 'Everest BLR-8', 'Everest BLR leasing -6', 'Everest BLR leasing -7', 'Everest BLR leasing -8', 'Everest BLR leasing -9', 'Everest HYD-1', 'Everest HYD-2', 'Hyd leasing -1', 'Hyd leasing -2', 'Hyd leasing -3', 'Hyd leasing -4', 'Everest HYD-3', 'Everest HYD-4', 'Everest HYD-5', 'Hyd leasing-5', 'Hyd leasing-6', 'Pune-1', 'Pune-2', 'Pune-3', 'CCU-1', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']
6278 sheet not found
Fleet name : ['Everest FleetSix (Intercity) (Fleet)'] and code is 278
Fleet name : ['Everest Fleet Private Ltd Eight -(Fleet)'] and code is 620
Fleet name : ['Everest Fleet Private LtdNine (Fleet)'] and code is 877
Fleet name : ['Everest FleetTen (Fleet)'] and code is 108
Fleet name : ['Everest FleetEleven'] and code is 11 fleet
Fleet name : ['Everest FleetTwelve'] and code is 12
Fleet name : ['Everest FleetThirteen (Fleet)'] and code is 13
Fleet name : ['Everest Fleet Fourteen(Fleet)'] and code is Fourteen Fleet
Fleet name : ['Everest FleetFifteen (Fleet)'] and code is nine Fleet
Fleet name : ['Everest FleetSIxteen(Fleet)'] and code is Seedan Fleet
Fleet name : ['Everest FleetSeventeen'] and code is Everest Mumbai-17
Fleet name : ['Everest FleetEighteen'] and code is Everest Mumbai-18
Everest Mumbai-19 sheet not found
Fleet name : ['Everest FleetTwenty'] and code is Everest Mumbai-20
Fleet name : ['Everest FleetTwenty One'] and code is Everest Mumbai-21
Fleet name : ['Everest FleetTwenty Two (Fleet)'] and code is Everest Mumbai-22
Fleet name : ['Everest FleetTwenty Three'] and code is Everest Mumbai-23
Everest Mumbai-24 sheet not found
Fleet name : ['Everest FleetTwenty Five'] and code is Everest Mumbai-25
Everest Mumbai-26 sheet not found
Fleet name : ['Everest FleetTwenty Seven'] and code is Everest Mumbai-27
Everest Mumbai-28 sheet not found
Fleet name : ['EVEREST FLEET PRIVATE LIMITED-'] and code is Prihans
Fleet name : ['Everest Fleet Private LimitedPrivate Limited (Fleet)'] and code is 982
Fleet name : ['Everest Fleet Private LtdTwo (Fleet)'] and code is 776
Fleet name : ['Everest Fleet Three(Fleet)'] and code is 981
Fleet name : ['Everest Fleet Private LimitedFour (Fleet)'] and code is 816
Fleet name : ['Everest Fleet Five(Fleet)'] and code is 455
Fleet name : ['Everest Fleet Private LimitedSeven (Fleet)'] and code is 788
Fleet name : ['EVEREST FLEETNORTH PRIVATE LIMITED-'] and code is DEL-1
Fleet name : ['EVEREST FLEET NORTH PRIVATE LIMITED II-'] and code is DEL-2
Fleet name : ['Everest Fleet NorthPrivate Limited III'] and code is DEL-3
Fleet name : ['EVEREST FLEETNORTH PRIVATE LIMITED IV'] and code is DEL-4
Fleet name : ['EVEREST FLEET NORTH PRIVATE LIMITEDEV'] and code is DEL-5
Fleet name : ['Everest Fleet North Private LimitedVI'] and code is DEL-6
Fleet name : ['Everest FleetPvt Ltd'] and code is Pramod
Fleet name : ['EVEREST FLEETPRIVATE LIMITED'] and code is Everest BLR leasing -2
Fleet name : ['Everest FleetThree'] and code is Everest BLR -3
Fleet name : ['EVEREST FLEET PRIVATE LIMITED-'] and code is Everest BLR-4
Fleet name : ['Everest FleetPrivate Limted'] and code is Everest BLR-5
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDSiddharth A Ladsariya'] and code is Everest BLR leasing -3
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDSiddharth A Ladsariya'] and code is Everest BLR leasing -4
Fleet name : [] and code is Everest BLR leasing -5
Fleet name : [] and code is Everest BLR-6
Fleet name : ['Everest Fleet Private LimitedSiddharth A Ladsariya'] and code is Everest BLR-7
Fleet name : [] and code is Everest BLR-8
Fleet name : ['Everest Fleet private limitedSIDDHARTH  LADSARIYA'] and code is Everest BLR leasing -6
Fleet name : [] and code is Everest BLR leasing -7
Fleet name : [] and code is Everest BLR leasing -8
Fleet name : [] and code is Everest BLR leasing -9
Fleet name : ['Everest FleetPrivate Limited'] and code is Everest HYD-1
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDTWO'] and code is Everest HYD-2
Fleet name : ['Everest FleetPrivate Limited - Leasing'] and code is Hyd leasing -1
Fleet name : ['Everest Fleet Pvt LtdLeasing Two'] and code is Hyd leasing -2
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDLeasing three'] and code is Hyd leasing -3
Fleet name : ['Everest Fleet Private LimitedLeasing Four'] and code is Hyd leasing -4
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDTHREE'] and code is Everest HYD-3
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDPRIVATE LIMITED FOUR'] and code is Everest HYD-4
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDPRIVATE LIMITED FIVE'] and code is Everest HYD-5
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDLeasing Five'] and code is Hyd leasing-5
Fleet name : ['EVEREST FLEET PRIVATE LIMITEDPvt Ltd Leasing Six'] and code is Hyd leasing-6
Fleet name : ['Everest Fleet Private LimitedPune'] and code is Pune-1
Fleet name : ['Everest Fleet Pvt LtdPune Two'] and code is Pune-2
Fleet name : ['Everest FleetPune Three'] and code is Pune-3
Fleet name : ['Everest FleetPrivate Limited'] and code is CCU-1
nan sheet not found
nan sheet not found
nan sheet not found
nan sheet not found
nan sheet not found
nan sheet not found
Enter your summary name with date and .csv :- summary-22-08-2022.csv
Summary sheet created : Check the summary sheet from your folder

In [6]:
dfm=df_list.T
summ_inp=input("Enter your summary name with date and .csv :- ")
dfm.to_csv(summ_inp,header=None)
print("Summary sheet created : Check the summary sheet from your folder")

Enter your summary name with date and .csv :- summary-158-2022.csv
Summary sheet created : Check the summary sheet from your folder

In [3]:
s='DEL-3'
ws='C:\\Users\\sagar\\Box\\FLEET DATA\\salam\\salam all sheets\\'+s+'.xlsx'
df = pd.read_excel(ws,sheet_name=0)
duplicated_columns_list = []
list_of_all_columns = list(df.columns)
for column in list_of_all_columns:
    if list_of_all_columns.count(column) > 1 and not column in duplicated_columns_list:
        duplicated_columns_list.append(column)
        duplicated_columns_list
for column in duplicated_columns_list:
    list_of_all_columns[list_of_all_columns.index(column)] = column + '_1'
    list_of_all_columns[list_of_all_columns.index(column)] = column + '_2'
    list_of_all_columns[list_of_all_columns.index(column)] = column + '_3'

df.columns = list_of_all_columns
print(df.columns)


df_unique=df['Org alias'].unique()
print("Fleet name :",df_unique,"and code is",i)

#separating gwu columns into two 
df_not_gwu=df[~df["Description"].str.contains("GwU")]
df_gwu=df[df["Description"].str.contains("GwU")]

try:
    df_not_gwu_column=df_not_gwu['Paid to you:Your earnings:Promotion:Promotion'].sum()
except KeyError:
    df_not_gwu_column = 0    
print("Paid to you:Your earnings:Promotion:Promotion",df_not_gwu_column)                    
try:
    gwu_promotion_column=df_gwu['Paid to you:Your earnings:Promotion:Promotion'].sum()
except KeyError:
    gwu_promotion_column = 0    
print("gwu:Paid to you:Your earnings:Promotion:Promotion",gwu_promotion_column)

Index(['transaction UUID', 'Driver UUID', 'Driver first name',
       'Driver surname', 'Trip UUID', 'Description', 'Organisation name',
       'Org alias', 'vs reporting', 'Paid to you',
       'Paid to you : Your earnings',
       'Paid to you : Trip balance : Payouts : Cash collected',
       'Paid to you : Your earnings : Fare',
       'Paid to you : Your earnings : Taxes',
       'Paid to you:Your earnings:Taxes:Income tax withholding',
       'Paid to you:Your earnings:Promotion:Promotion',
       'Paid to you:Your earnings:Fare:Fare',
       'Paid to you:Your earnings:Fare:Pick-up distance',
       'Paid to you:Trip balance:Refunds:Toll',
       'Paid to you:Your earnings:Fare:Wait Time at Pick-up',
       'Paid to you:Your earnings:Fare:Surge',
       'Paid to you:Your earnings:Fare:Adjustment',
       'Paid to you:Your earnings:Other earnings:Adjustment',
       'Paid to you:Your earnings:Fare:Cancellation',
       'Paid to you:Your earnings:Fare:Max Fare Adjustment',
       'Paid to you:Your earnings:Fare:Fare Adjustment',
       'Paid to you:Your earnings:Taxes:TDS on promotions',
       'Paid to you:Your earnings:Tip',
       'Paid to you:Your earnings:Fare:Additional cancellation fee for extended wait time',
       'Paid to you:Your earnings:Other earnings:Nighttime charges',
       'Paid to you:Your earnings:Fare:Adjustment.1',
       'Paid to you:Trip balance:Expenses:Toll',
       'Paid to you:Your earnings:Promotion:Quest',
       'Paid to you:Your earnings:Other earnings:State Tax Reimbursement'],
      dtype='object')
Fleet name : ['Everest Fleet NorthPrivate Limited III'] and code is nan
Paid to you:Your earnings:Promotion:Promotion 166400
gwu:Paid to you:Your earnings:Promotion:Promotion 3180000

In [99]:
a = []
for i in range(6):
    for j in range(4):
        a.append({i,j})
print(a)

[{0}, {0, 1}, {0, 2}, {0, 3}, {0, 1}, {1}, {1, 2}, {1, 3}, {0, 2}, {1, 2}, {2}, {2, 3}, {0, 3}, {1, 3}, {2, 3}, {3}, {0, 4}, {1, 4}, {2, 4}, {3, 4}, {0, 5}, {1, 5}, {2, 5}, {3, 5}]