In [9]:
#importing Libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#Leasing Dashboard Korum Mall 

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('New Leasing Master')
ws= sheet.worksheet('Allocation Responses')
data = ws.get_all_values()
sheet= client.open('Leasing Dashboard')
ws= sheet.worksheet('Live Data')
ws.update(data,value_input_option='USER_ENTERED')
print("Leasing Dashboard Korum Mall Live Data Succesfully")

#Leasing Dashboard Chunabhatti 

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Leasing Master - Vinay Bhai')
ws= sheet.worksheet('Allocation Responses')
data = ws.get_all_values()
sheet= client.open('Leasing Dashboard - Vinay Bhai')
ws= sheet.worksheet('Live Data')
ws.update(data,value_input_option='USER_ENTERED')
print("Leasing Dashboard Chunabhatti Live Data Updated Succesfully")

Leasing Dashboard Korum Mall Live Data Succesfully
Leasing Dashboard Chunabhatti Updated Succesfully

In [1]:
#importing Libraries
import pygsheets
import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#Leasing Dashboard Korum Mall 

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

clients = pygsheets.authorize(service_file='client_secret.json')

sheet= client.open('New Leasing Master')
ws= sheet.worksheet('Allocation Responses')
data = ws.get_all_values()
headers=data.pop(0)
data_df=pd.DataFrame(data,columns=headers)
leasing_mumbai_data_df=data_df.loc[:,['Timestamp', 'Allocation or Car Jama ', 'Member Name',
       'Rent for first Day?', 'Date', 'Driver Ola Balance', 'Car Jama Number',
       'Car Status', 'Allocation Vehicle Number', 'Key Handover to?',
       'Penalty Amount', 'Penalty Reason', 'More details of Penalty',
       'ETM + Others', 'ETM ID', 'Driver Name', 'Reason for Other', 'Fastag',
        'Car Number', 'ETM']]  
leasing_mumbai_data_df
sheet= clients.open('Leasing Dashboard')
ws= sheet.worksheet_by_title('Live Data')
ws.set_dataframe(leasing_mumbai_data_df,(1,1))
print("Leasing Dashboard Korum Mall Live Data Succesfully")

Leasing Dashboard Korum Mall Live Data Succesfully

In [23]:
leasing_mumbai_data_df.dtypes

Timestamp                    object
Allocation or Car Jama       object
Member Name                  object
Rent for first Day?          object
Date                         object
Driver Ola Balance           object
Car Jama Number              object
Car Status                   object
Allocation Vehicle Number    object
Key Handover to?             object
Penalty Amount               object
Penalty Reason               object
More details of Penalty      object
ETM + Others                 object
ETM ID                       object
Driver Name                  object
Reason for Other             object
Fastag                       object
Car Number                   object
ETM                          object
dtype: object

In [18]:
data_df.columns

Index(['Timestamp', 'Allocation or Car Jama ', 'Member Name',
       'Rent for first Day?', 'Date', 'Driver Ola Balance', 'Car Jama Number',
       'Car Status', 'Allocation Vehicle Number', 'Key Handover to?',
       'Penalty Amount', 'Penalty Reason', 'More details of Penalty',
       'ETM + Others', 'ETM ID', 'Driver Name', 'Reason for Other', 'Fastag',
       'Agreement Status', 'Driver Phone Number', 'Allocation Type',
       'Deposit in Cash', 'Deposit Online', 'Car Number', 'ETM',
       'Active or Inactive'],
      dtype='object')

In [6]:
sheet= client.open('Leasing Master - Vinay Bhai')
ws= sheet.worksheet('Allocation Responses')
data = ws.get_all_values()
headers=data.pop(0)
data_df=pd.DataFrame(data,columns=headers)
data_df

,टाइमस्टैम्प,Allocation or Car Jama,Member Name,Rent for first Day?,Date,Driver Ola Balance,Car Jama Number,Car Status,Allocation Vehicle Number,Key Handover to?,Penalty Amount,Penalty Reason,More details of Penalty,ETM + Others,ETM ID,Driver Name,Reason for Other,Fastag,Car number,ETM
0,18/04/2022 12:15:40,Car Jama,Vinay Bhai,None,18/04/2022,0,MH01DR2960,Ready to Allot,,,0,,,,ETM05852,9004385290,,60,MH01DR2960,ETM05852
1,18/04/2022 17:00:48,Car Jama,Vinay Bhai,None,18/04/2022,0,MH01CV7096,Ready to Allot,,,0,,,,ETM18158,Sunil Yadav,,60,MH01CV7096,ETM18158
2,18/04/2022 18:21:13,Car Jama,Vinay Bhai,Half,18/04/2022,0,MH01CV4383,Ready to Allot,,,0,,,,ETM19583,Salman shaikh,,60,MH01CV4383,ETM19583
3,18/04/2022 18:22:28,Allocation,Vinay Bhai,None,18/04/2022,0,,,MH01DR2960,,,,,ETM,ETM19573,Salman Shaikh,,60,MH01DR2960,ETM19573
4,19/04/2022 12:18:00,Allocation,Vinay Bhai,None,18/04/2022,0,,,MH01CV4383,,,,,ETM,ETM19374,Suhail Sura,,60,MH01CV4383,ETM19374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,08/08/2022 11:37:55,Car Jama,Vinay Bhai,Full,06/08/2022,0,MH03CV5395,Ready to Allot,,,0,,,,ETM16318,Aniket Savekar,,-13,MH03CV5395,ETM16318
664,08/08/2022 11:39:52,Allocation,Vinay Bhai,None,06/08/2022,0,,,MH03CV5395,,,,,ETM,ETM20976,Santosh Rangavkar,,-13,MH03CV5395,ETM20976
665,08/08/2022 12:41:23,Car Jama,Vinay Bhai,None,05/08/2022,565,MH01CV7096,Repairing,,Garage,0,,,,ETM11433,Mohd Junaid Choudhary,,-91,MH01CV7096,ETM11433
666,08/08/2022 13:10:37,Car Jama,Vinay Bhai,None,08/08/2022,0,MH01CV7534,Ready to Allot,,,0,,,,ETM07109,Sufiyan Khan,,60,MH01CV7534,ETM07109
667,08/08/2022 13:15:28,Car Jama,Vinay Bhai,None,08/08/2022,0,MH01CV6886,Ready to Allot,,,0,,,,ETM12309,Raj Bhadur,,76,MH01CV6886,ETM12309