In [2]:
#importing libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#creating connections

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

Recoverysheetnew='1j9hmPHNmfjJp7nn4p8EVq8aciL8NfiO3hYWdf28aDzQ'
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Recovery Tabs')
data = ws.get_all_values()
headers=data.pop(0)
recovery_tabs = pd.DataFrame(data,columns=headers)
tabs=list(recovery_tabs['Recovery Tabs'])
dfs=pd.DataFrame()
for i in tabs:
    if i in tabs:
        sheet= client.open_by_key(Recoverysheetnew)
        ws= sheet.worksheet(i)
        data = ws.get_all_values()
        df = pd.DataFrame(data)
        dfs = dfs.append(df,ignore_index = True)
        print(i)
    else:
        print("tab no found")
master_df=dfs.rename(columns=dfs.iloc[0]).drop(dfs.index[0]).reset_index(drop=True)
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
master_df['Week Begin date'] = pd.to_datetime(master_df['Week Begin date'], errors='coerce',format='%d/%m/%Y')
df_1week = master_df[(master_df['Week Begin date'] >= pd.to_datetime(previous_monday)) & (master_df['Week Begin date'] <= pd.to_datetime(today))]
df_1week['Week Begin date']=df_1week['Week Begin date'].astype(str)
df_1week = df_1week.dropna(axis=1)
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Masterview')
ws.batch_clear(['A:N'])
ws.update([df_1week.columns.values.tolist()] + df_1week.values.tolist(),value_input_option='USER_ENTERED')
print("masterview updated succesfully")

APIError: {'code': 500, 'message': 'Internal error encountered.', 'status': 'INTERNAL'}

In [31]:
#importing libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
import pygsheets
from oauth2client.service_account import ServiceAccountCredentials
import warnings
import numpy as np
warnings.filterwarnings("ignore")

#creating connections

#scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
#credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
#client= gspread.authorize(credentials)

clients = pygsheets.authorize(service_file='car-master-sheet.json')

Recoverysheetnew='1j9hmPHNmfjJp7nn4p8EVq8aciL8NfiO3hYWdf28aDzQ'
sheet= clients.open_by_key(Recoverysheetnew)
ws= sheet.worksheet_by_title('Recovery Tabs')
data = ws.get_all_values()
headers=data.pop(0)
recovery_tabs = pd.DataFrame(data,columns=headers)
tabs=list(recovery_tabs['Recovery Tabs'].replace('',np.nan).dropna())
tabs
# dropna=recovery_tabs.str.replace('','NaN')
# r=dropna.dropna('NaN')
# r
# tabs=list(recovery_tabs['Recovery Tabs'])
# tabs
dfs=pd.DataFrame()
for i in tabs:
    if i in tabs:
        sheet= clients.open_by_key(Recoverysheetnew)
        ws= sheet.worksheet_by_title(i)
        data = ws.get_all_values()
        df = pd.DataFrame(data)
        dfs = dfs.append(df,ignore_index = True)
        print(i)
    else:
        print("tab no found")
master_df=dfs.rename(columns=dfs.iloc[0]).drop(dfs.index[0]).reset_index(drop=True)
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
master_df['Week Begin date'] = pd.to_datetime(master_df['Week Begin date'], errors='coerce',format='%d/%m/%Y')
df_1week = master_df[(master_df['Week Begin date'] >= pd.to_datetime(previous_monday)) & (master_df['Week Begin date'] <= pd.to_datetime(today))]
df_1week['Week Begin date']=df_1week['Week Begin date'].astype(str)
df_1week = df_1week.dropna(axis=1)
df_1week=df_1week[['Week Begin date','Date of Updating','Date  of Payment','Collection of Purpose','Mode Of Payment','Cash/Online','Name of Employee','Employee ID','Amount','Mobile','DM Name', 'transferred to Name of Person', 'Bank_Transaction_ID','Order_ID']]
df_1week
sheet= clients.open_by_key(Recoverysheetnew)
ws= sheet.worksheet_by_title('Masterview')
#ws.batch_clear(['A:N'])
ws.clear(start='A',end='N')
#ws.update([df_1week.columns.values.tolist()] + df_1week.values.tolist(),value_input_option='USER_ENTERED')
ws.set_dataframe(df_1week,(1,1))
print("masterview updated succesfully")

Pratik
Sagar
Makarand
Shubham
Rohan
Sachin
RazorPay
Paytm
BankTransferred
Akash Sonavane
Mithun
Pankesh

,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID
19909,2022-07-25,25/07/2022,25/07/2022,Mumbai 60:40 Recovery,Paytm,Online,Ganesh Mali,ETM17257,2250,8287392732,Deep Hunters,Paytm,202207250021160060',220681329011'
19910,2022-07-25,25/07/2022,25/07/2022,Mumbai 60:40 Recovery,Paytm,Online,Anwar Khan,ETM22376,700,8882078412,Deep Hunters,Paytm,202207250021190010',220600263880'
19912,2022-07-25,25/07/2022,25/07/2022,Mumbai 60:40 Recovery,Paytm,Online,Tushar Mahendra Shinde,ETM18373,2200,7709626167,Deep Hunters,Paytm,202207250100170081',220687406147'
19914,2022-07-25,25/07/2022,25/07/2022,Mumbai 60:40 Recovery,Paytm,Online,Erfan Iqbal Nagavadria,ETM11997,1000,9082113575,Terrific Tigers,Paytm,202207250116540059',220681433033'
19915,2022-07-25,25/07/2022,25/07/2022,Pune 60:40 Recovery,Paytm,Online,Jitendra Honagekar,ETP00085,600,8421677168,Pune Recovery,Paytm,T2207250146501084072339',220623721050'
19917,2022-07-25,25/07/2022,25/07/2022,Mumbai leasing Rent,Paytm,Online,Sumit Mohan Kamble,ETM10363,1400,7718923338,Red Eagle,Paytm,220660794043',220660794043'
19919,2022-07-25,25/07/2022,25/07/2022,Mumbai leasing Rent,Paytm,Online,Muhammed Kapadiya,ETM18045,850,7506412079,Red Eagle,Paytm,202207250911180085',220680609147'
23261,2022-07-25,25/07/2022,25/07/2022,Mumbai 60:40 Recovery,Cash,Cash,Mohd Kallan Shaikh,ETM14191,420,8691814152,Deep Hunters,Akash,,

In [30]:

# sheet= clients.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet_by_title('Masterview')
# ws.clear(start='A',end='N')
# ws.set_dataframe(df_1week,(1,1))
# print("masterview updated succesfully")

masterview updated succesfully

In [6]:
#importing libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#creating connections

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

Recoverysheetnew='1j9hmPHNmfjJp7nn4p8EVq8aciL8NfiO3hYWdf28aDzQ'
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Recovery Tabs')
data = ws.get_all_values()
headers=data.pop(0)
recovery_tabs = pd.DataFrame(data,columns=headers)
tabs=list(recovery_tabs['Recovery Tabs'])
dfs=pd.DataFrame()
for i in tabs:
    if i in tabs:
        sheet= client.open_by_key(Recoverysheetnew)
        ws= sheet.worksheet(i)
        data = ws.get_all_values()
        df = pd.DataFrame(data)
        dfs = dfs.append(df,ignore_index = True)
    else:
        print("tab no found")
master_df=dfs.rename(columns=dfs.iloc[0]).drop(dfs.index[0]).reset_index(drop=True)
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Pratik')
# data = ws.get_all_values()
# pratik_df = pd.DataFrame(data)
# pratik_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Akash Sonavane')
# data = ws.get_all_values()
# akash_df= pd.DataFrame(data)
# akash_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Sagar')
# data = ws.get_all_values()
# sagar_df= pd.DataFrame(data)
# sagar_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Makarand')
# data = ws.get_all_values()
# Makarand_df= pd.DataFrame(data)
# Makarand_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Shubham')
# data = ws.get_all_values()
# Shubham_df= pd.DataFrame(data)
# Shubham_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Sachin')
# data = ws.get_all_values()
# Sachin_df= pd.DataFrame(data)
# Sachin_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Rohan')
# data = ws.get_all_values()
# Rohan_df= pd.DataFrame(data)
# Rohan_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('RazorPay')
# data = ws.get_all_values()
# RazorPay_df= pd.DataFrame(data)
# RazorPay_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('Paytm')
# data = ws.get_all_values()
# Paytm_df= pd.DataFrame(data)
# Paytm_df
# sheet= client.open_by_key(Recoverysheetnew)
# ws= sheet.worksheet('BankTransferred')
# data = ws.get_all_values()
# BankTransferred_df= pd.DataFrame(data)
# BankTransferred_df
# master_df=pd.concat([pratik_df,akash_df,sagar_df,Sachin_df,Makarand_df,Shubham_df,Rohan_df,RazorPay_df,Paytm_df,BankTransferred_df],ignore_index = True)
# master_df.rename(columns=master_df.iloc[0], inplace = True)
# master_df.drop(master_df.index[0], inplace = True)
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
# master_df['Date of Updating']= master_df['Date of Updating'].str.replace('-', '/')
# master_df['Date of Updating'] = pd.to_datetime(master_df['Date of Updating'], errors='coerce',format='%d/%m/%Y')
# master_df['Date  of Payment']= master_df['Date  of Payment'].str.replace('-', '/')
# master_df['Date  of Payment'] = pd.to_datetime(master_df['Date  of Payment'], errors='coerce',format='%d/%m/%Y')
# master_df['Week Begin date']= master_df['Week Begin date'].str.replace('-', '/')
master_df['Week Begin date'] = pd.to_datetime(master_df['Week Begin date'], errors='coerce',format='%d/%m/%Y')
df_1week = master_df[(master_df['Week Begin date'] >= pd.to_datetime(previous_monday)) & (master_df['Week Begin date'] <= pd.to_datetime(today))]
df_1week['Week Begin date']=df_1week['Week Begin date'].astype(str)
# df_1week['Date of Updating']=df_1week['Date of Updating'].astype(str)
# df_1week['Date  of Payment']=df_1week['Date  of Payment'].astype(str)
df_1week = df_1week.dropna(axis=1)
df_1week
df1w=df_1week.loc[df_1week['Collection of Purpose'].isin(['Mumbai 60:40 Recovery','Mumbai leasing Rent'])]
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('MS')
ws.batch_clear(['A:N'])
ws.update([df1w.columns.values.tolist()] + df1w.values.tolist(),value_input_option='USER_ENTERED')
print("masterview updated succesfully")
#changes to ms:- mumbai 60:40 recovery and Mumbai leasing Rent

,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID
5861,2022-06-20,20/06/2022,2022-06-19 02:07:38',Mumbai 60:40 Recovery,Paytm,Online,Suresh Kirdat,Etm12344,860,8600424681,Silent Killers,Suspense Clear,202206190207380039',217064741151'
5899,2022-06-20,20/06/2022,2022-06-19 17:16:32',Mumbai leasing Rent,Paytm,Online,Mohd Muniruddin shaikh,ETM14129,1000,9619509916,Deadly Shark,Suspense Clear,202206191716320089',217017825038'
5904,2022-06-20,20/06/2022,2022-06-19 19:57:24',Mumbai 60:40 Recovery,Paytm,Online,Amit Kumar Dubey,ETM20148,1766,8953355195,Deep Hunters,Paytm,202206191957240066',217019734652'
5910,2022-06-20,20/06/2022,2022-06-19 22:56:51',Mumbai 60:40 Recovery,Paytm,Online,Manish Kashyap,Etm11056,536,9930912707,Deep Hunters,Paytm,202206192256510069',217022653076'
5916,2022-06-20,20/06/2022,2022-06-20 01:31:11',Mumbai 60:40 Recovery,Paytm,Online,Tufail Ahmed Khan,ETM13272,450,9870587051,Deep Hunters,Paytm,217169748558',217169748558'
5917,2022-06-20,20/06/2022,2022-06-20 01:35:35',Mumbai 60:40 Recovery,Paytm,Online,Bablu Yadav,Etm19869,550,8698236374,Black Panthers,Paytm,T2206200135301884295227',217173790177'
5920,2022-06-20,20/06/2022,2022-06-20 07:51:38',Mumbai leasing Rent,Paytm,Online,Govind Badrike,ETM11466,2000,9867751204,Red Eagle,Paytm,217170708197',217170708197'
5921,2022-06-20,20/06/2022,2022-06-20 07:52:52',Mumbai leasing Rent,Paytm,Online,Govind Badrike,ETM11466,840,9867751204,Red Eagle,Paytm,217170720255',217170720255'
5923,2022-06-20,20/06/2022,2022-06-20 09:06:52',Mumbai leasing Rent,Paytm,Online,Navnath Shinde,ETM16674,5225,8828582159,Deadly Shark,Paytm,202206200906520037',217133984803'
5924,2022-06-20,20/06/2022,2022-06-20 09:10:19',Mumbai leasing Rent,Paytm,Online,Nitin Jingare,ETM10977,6300,8879912924,Deadly Shark,Paytm,217171711124',217171711124'
5925,2022-06-20,20/06/2022,2022-06-20 10:53:14',Mumbai 60:40 Recovery,Paytm,Online,Rajesh Kumar Singh,Etm18473,1000,8828692496,Deep Hunters,Paytm,217173710813',217173710813'
5926,2022-06-20,20/06/2022,2022-06-20 10:54:00',Mumbai leasing Rent,Paytm,Online,Abdullah Shaikh,ETM14076,4000,7757927284,Red Eagle,Paytm,T2206201053545926341165',217174857747'

In [5]:
df_1week.count()

Week Begin date                  53
Date of Updating                 53
Date  of Payment                 53
Collection of Purpose            53
Mode Of Payment                  53
Cash/Online                      53
Name of Employee                 53
Employee ID                      53
Amount                           53
Mobile                           53
DM Name                          53
transferred to Name of Person    53
Bank_Transaction_ID              53
Order_ID                         53
dtype: int64

In [72]:
df_1week.dtypes

Week Begin date                  object
Date of Updating                 object
Date  of Payment                 object
Collection of Purpose            object
Mode Of Payment                  object
Cash/Online                      object
Name of Employee                 object
Employee ID                      object
Amount                           object
Mobile                           object
DM Name                          object
transferred to Name of Person    object
Bank_Transaction_ID              object
Order_ID                         object
NaN                              object
dtype: object

In [11]:
#importing libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#creating connections

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

Recoverysheetnew='1j9hmPHNmfjJp7nn4p8EVq8aciL8NfiO3hYWdf28aDzQ'
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Recovery Tabs')
data = ws.get_all_values()
headers=data.pop(0)
recovery_tabs = pd.DataFrame(data,columns=headers)
tabs=list(recovery_tabs['Recovery Tabs'])
dfs=pd.DataFrame()
for i in tabs:
    if i in tabs:
        sheet= client.open_by_key(Recoverysheetnew)
        ws= sheet.worksheet(i)
        data = ws.get_all_values()
        df = pd.DataFrame(data)
        dfs = dfs.append(df,ignore_index = True)
    else:
        print("tab no found")
master_df=dfs.rename(columns=dfs.iloc[0]).drop(dfs.index[0]).reset_index(drop=True)
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
master_df['Week Begin date'] = pd.to_datetime(master_df['Week Begin date'], errors='coerce',format='%d/%m/%Y')
df_1week = master_df[(master_df['Week Begin date'] >= pd.to_datetime(previous_monday)) & (master_df['Week Begin date'] <= pd.to_datetime(today))]
df_1week['Week Begin date']=df_1week['Week Begin date'].astype(str)
df_1week = df_1week.dropna(axis=1)
df1w=df_1week.loc[df_1week['Collection of Purpose'].isin(['Mumbai 60:40 Recovery','Mumbai leasing Rent'])]
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('MS')
ws.batch_clear(['A:N'])
ws.update([df1w.columns.values.tolist()] + df1w.values.tolist(),value_input_option='USER_ENTERED')
print("masterview updated succesfully")

,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID
165,2022-06-20,20/06/2022,20/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Mahfooz Khan,ETM02406,5000,7045426155,Terrific Tigers,Makarand,1904,
166,2022-06-20,20/06/2022,20/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Faraaz Maruff,ETM18950,1000,9004234529,Deep Hunters,Makarand,1906,
167,2022-06-20,20/06/2022,20/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Mohd Mujibul Mohd Yunus Shaikh,ETM20386,100,8452940666,Terrific Tigers,Makarand,1907,
179,2022-06-20,20-06-2022,20-06-2022,Mumbai 60:40 Recovery,Cash,Cash,Dipak Gavit,ETM13484,2000,9421456895,Silent Killers,,,
180,2022-06-20,20-06-2022,20-06-2022,Mumbai 60:40 Recovery,Cash,Cash,Vivek Bhosle,ETM14285,765,9082076640,Silent Killers,,,
181,2022-06-20,20-06-2022,20-06-2022,Mumbai 60:40 Recovery,Cash,Cash,#N/A,other,500,#N/A,,,,
182,2022-06-20,20-06-2022,20-06-2022,Mumbai 60:40 Recovery,Cash,Cash,Digvijay Bhaatt,ETM12902,2050,8657153851,Silent Killers,,,
325,2022-06-20,20/06/2022,20/06/2022,Mumbai 60:40 Recovery,Razor Pay,Online,Sandesh Pandurang khakam,ETM19915,2000,7499673034,Silent Killers,,,
326,2022-06-20,20/06/2022,20/06/2022,Mumbai 60:40 Recovery,Razor Pay,Online,Ranjith Kumar Hegde -,ETM02727,3408,8861079975,Silent Killers,,,
4121,2022-06-20,20/06/2022,2022-06-07 17:34:36',Mumbai 60:40 Recovery,Paytm,Online,Jacob Pungavanam,ETM19829,900,9272552128,Silent Killers,Suspense Clear,215817937060',202206071734350087'
5867,2022-06-20,20/06/2022,2022-06-19 02:07:38',Mumbai 60:40 Recovery,Paytm,Online,Suresh Kirdat,Etm12344,860,8600424681,Silent Killers,Suspense Clear,202206190207380039',217064741151'
5905,2022-06-20,20/06/2022,2022-06-19 17:16:32',Mumbai leasing Rent,Paytm,Online,Mohd Muniruddin shaikh,ETM14129,1000,9619509916,Deadly Shark,Suspense Clear,202206191716320089',217017825038'
5910,2022-06-20,20/06/2022,2022-06-19 19:57:24',Mumbai 60:40 Recovery,Paytm,Online,Amit Kumar Dubey,ETM20148,1766,8953355195,Deep Hunters,Paytm,202206191957240066',217019734652'
5916,2022-06-20,20/06/2022,2022-06-19 22:56:51',Mumbai 60:40 Recovery,Paytm,Online,Manish Kashyap,Etm11056,536,9930912707,Deep Hunters,Paytm,202206192256510069',217022653076'
5921,2022-06-20,20/06/2022,2022-06-20 01:27:39',Mumbai leasing Rent,Paytm,Online,Minaz Jariwala,ETM13307,2070,7039384166,Red Eagle,Paytm,202206200127390030',217101315164'
5922,2022-06-20,20/06/2022,2022-06-20 01:31:11',Mumbai 60:40 Recovery,Paytm,Online,Tufail Ahmed Khan,ETM13272,450,9870587051,Deep Hunters,Paytm,217169748558',217169748558'
5923,2022-06-20,20/06/2022,2022-06-20 01:35:35',Mumbai 60:40 Recovery,Paytm,Online,Bablu Yadav,Etm19869,550,8698236374,Black Panthers,Paytm,T2206200135301884295227',217173790177'
5926,2022-06-20,20/06/2022,2022-06-20 07:51:38',Mumbai leasing Rent,Paytm,Online,Govind Badrike,ETM11466,2000,9867751204,Red Eagle,Paytm,217170708197',217170708197'
5927,2022-06-20,20/06/2022,2022-06-20 07:52:52',Mumbai leasing Rent,Paytm,Online,Govind Badrike,ETM11466,840,9867751204,Red Eagle,Paytm,217170720255',217170720255'
5929,2022-06-20,20/06/2022,2022-06-20 09:06:52',Mumbai leasing Rent,Paytm,Online,Navnath Shinde,ETM16674,5225,8828582159,Deadly Shark,Paytm,202206200906520037',217133984803'
5930,2022-06-20,20/06/2022,2022-06-20 09:10:19',Mumbai leasing Rent,Paytm,Online,Nitin Jingare,ETM10977,6300,8879912924,Deadly Shark,Paytm,217171711124',217171711124'
5931,2022-06-20,20/06/2022,2022-06-20 10:53:14',Mumbai 60:40 Recovery,Paytm,Online,Rajesh Kumar Singh,Etm18473,1000,8828692496,Deep Hunters,Paytm,217173710813',217173710813'
5932,2022-06-20,20/06/2022,2022-06-20 10:54:00',Mumbai leasing Rent,Paytm,Online,Abdullah Shaikh,ETM14076,4000,7757927284,Red Eagle,Paytm,T2206201053545926341165',217174857747'
5933,2022-06-20,20/06/2022,2022-06-20 11:34:09',Mumbai 60:40 Recovery,Paytm,Online,Kanhaiyal Nagpure,Etm05797,215,8928882122,Terrific Tigers,Paytm,217174583263',217174583263'
5934,2022-06-20,20/06/2022,2022-06-20 12:09:45',Mumbai leasing Rent,Paytm,Online,Abdul Rashid Gouri,ETM12619,3000,7021513835,Red Eagle,Paytm,202206201209440051',217189501971'
5940,2022-06-20,20/06/2022,2022-06-20 12:27:09',Mumbai 60:40 Recovery,Paytm,Online,Amar Mishra,ETM21567,2491,9341021254,Deep Hunters,Paytm,T2206201227018174052998',217100655620'
5941,2022-06-20,20/06/2022,2022-06-20 12:40:07',Mumbai 60:40 Recovery,Paytm,Online,Vivek Bhosle,ETM14285,5000,9082076640,Silent Killers,Paytm,202206201240070094',217190191302'
5946,2022-06-20,20/06/2022,2022-06-20 13:01:50',Mumbai 60:40 Recovery,Paytm,Online,Nisar Ahmed Shaikh,Etm19151,1000,9700744442,Silent Killers,Paytm,217176569478',217176569478'
5950,2022-06-20,20/06/2022,2022-06-20 13:38:12',Mumbai 60:40 Recovery,Paytm,Online,Sagar D Kumkar,ETM20081,2000,9082664419,Silent Killers,Paytm,T2206201338082737958199',217113400770'
5951,2022-06-20,20/06/2022,2022-06-20 13:45:38',Mumbai leasing Rent,Paytm,Online,Dinesh Bhagat Singh,ETM11528,11000,8446219851,Deadly Shark,Paytm,217113515035',217113515035'
5954,2022-06-20,20/06/2022,2022-06-20 14:00:44',Mumbai 60:40 Recovery,Paytm,Online,Navin Kumar Jha,ETM04232,3500,7840974940,Silent Killers,Paytm,202206201400430093',217191845155'
5956,2022-06-20,20/06/2022,2022-06-20 14:09:56',Mumbai 60:40 Recovery,Paytm,Online,Aftab Waris,ETM19362,1000,8459397468,Deep Hunters,Paytm,202206201409560034',217114378473'
5957,2022-06-20,20/06/2022,2022-06-20 14:11:07',Mumbai 60:40 Recovery,Paytm,Online,Ravi Kant Yadav,ETM18318,4734,9987893474,Roaring Lions,Paytm,202206201411060016',217114429862'
5960,2022-06-20,20/06/2022,2022-06-20 14:45:16',Mumbai 60:40 Recovery,Paytm,Online,Jograj Singh Bhati,ETM21480,2000,8879342460,Black Panthers,Paytm,217178807175',217178807175'
5967,2022-06-20,20/06/2022,2022-06-20 15:09:19',Mumbai 60:40 Recovery,Paytm,Online,Manglesh Singh,ETM14354,2636,9518987337,Deep Hunters,Paytm,T2206201509156270365923',217167735373'
5970,2022-06-20,20/06/2022,2022-06-20 15:17:07',Mumbai 60:40 Recovery,Paytm,Online,Shaikh Mohd Yusuf,Etm20549,3637,9930047086,Silent Killers,Paytm,202206201517070063',217115845736'
5972,2022-06-20,20/06/2022,2022-06-20 15:17:28',Mumbai 60:40 Recovery,Paytm,Online,Anand Kumar Rav,ETM20877,1943,9112585891,Silent Killers,Paytm,202206201517280076',217193257858'
5976,2022-06-20,20/06/2022,2022-06-20 15:20:00',Mumbai 60:40 Recovery,Paytm,Online,Deepak Sheshmani Dubey,Etm12933,846,9692580147,Deep Hunters,Paytm,202206201520000019',217115884954'
5977,2022-06-20,20/06/2022,2022-06-20 15:20:16',Mumbai 60:40 Recovery,Paytm,Online,Sumit Kumar,ETM11202,507,9910872807,Silent Killers,Paytm,202206201519590044',217136702331'
5978,2022-06-20,20/06/2022,2022-06-20 15:21:04',Mumbai 60:40 Recovery,Paytm,Online,Khan Iqbal Ahmed,ETM11523,2011,7304292980,Silent Killers,Paytm,202206201520080029',217136745483'
5980,2022-06-20,20/06/2022,2022-06-20 15:23:51',Mumbai 60:40 Recovery,Paytm,Online,Amarbahadur Jaiswar,Etm16798,1392,8169030052,Deep Hunters,Paytm,T2206201523456637083966',217184600899'
5981,2022-06-20,20/06/2022,2022-06-20 15:24:30',Mumbai 60:40 Recovery,Paytm,Online,Mahfooz Khan,Etm02406,1080,7045426155,Terrific Tigers,Paytm,202206201524300079',217193385009'
5984,2022-06-20,20/06/2022,2022-06-20 15:31:38',Mumbai 60:40 Recovery,Paytm,Online,Mohd Ayub Shah,ETM08136,232,9819633998,OLD Recoveries,Paytm,217179663761',217179663761'
5985,2022-06-20,20/06/2022,2022-06-20 15:33:43',Mumbai 60:40 Recovery,Paytm,Online,#N/A,ETM1404,1017,#N/A,Black Panthers,Paytm,202206201533420096',217115129538'
5986,2022-06-20,20/06/2022,2022-06-20 15:40:46',Mumbai 60:40 Recovery,Paytm,Online,Ainul Haq,ETM16602,2597,6393195090,Terrific Tigers,Paytm,202206201540460051',217115279797'
5987,2022-06-20,20/06/2022,2022-06-20 15:41:28',Mumbai 60:40 Recovery,Paytm,Online,Sonu verma,Etm19213,1964,6306297015,Black Panthers,Paytm,217179838861',217179838861'
5988,2022-06-20,20/06/2022,2022-06-20 15:43:18',Mumbai 60:40 Recovery,Paytm,Online,Mukhtar Salim Sayed,Etm13235,2000,9022042850,Deep Hunters,Paytm,217179871617',217179871617'
5989,2022-06-20,20/06/2022,2022-06-20 15:43:54',Mumbai 60:40 Recovery,Paytm,Online,Mukhtar Salim Sayed,Etm13235,515,9022042850,Deep Hunters,Paytm,217179882443',217179882443'
5997,2022-06-20,20/06/2022,2022-06-20 15:55:55',Mumbai 60:40 Recovery,Paytm,Online,Azad Ali Ajmat,ETM10882,1247,9029542794,Roaring Lions,Paytm,217180098800',217180098800'
5998,2022-06-20,20/06/2022,2022-06-20 15:57:03',Mumbai 60:40 Recovery,Paytm,Online,Faraaz Maruff,Etm18950,2000,9004234529,Deep Hunters,Paytm,T2206201557000127117933',217169701327'
6001,2022-06-20,20/06/2022,2022-06-20 16:04:11',Mumbai 60:40 Recovery,Paytm,Online,Javed Khan,ETM13816,6329,8446035668,Deep Hunters,Paytm,202206201604110048',217116751198'

In [57]:
today = datetime.date.today()
print(today)
previous_monday_week= today - datetime.timedelta(days=8)
print(previous_monday_week)
previous_monday = today - datetime.timedelta(days=today.weekday())
print(previous_monday)

2022-06-14
2022-06-06
2022-06-13

In [39]:
master_df.columns

Index([              'Week Begin date',              'Date of Updating',
                    'Date  of Payment',         'Collection of Purpose',
                     'Mode Of Payment',                   'Cash/Online',
                    'Name of Employee',                   'Employee ID',
                              'Amount',                        'Mobile',
                             'DM Name', 'transferred to Name of Person',
                 'Bank_Transaction_ID',                      'Order_ID',
                                   nan],
      dtype='object')

In [26]:
master_df = master_df[pd.notnull(master_df.iloc['Date of Payment'])]

TypeError: Cannot index by location index with a non-integer key

In [8]:
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Paytm')
data = ws.get_all_values()
Paytm_df= pd.DataFrame(data)
Paytm_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID,,,ETM+Pmt date+Amount,Total Count,
1,,,0,,Paytm,Online,,,174,,,Paytm,,,,,0174,1,
2,,,0,,Paytm,Online,,,125,,,Paytm,,,,,0125,2,
3,,,0,,Paytm,Online,,,500,,,Paytm,,,,,0500,45,
4,,,0,,Paytm,Online,,,252,,,Paytm,,,,,0252,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13053,,,,,Paytm,Online,,,,,,Paytm,,,,,,,
13054,,,,,Paytm,Online,,,,,,Paytm,,,,,,,
13055,,,,,Paytm,Online,,,,,,Paytm,,,,,,,
13056,,,,,Paytm,Online,,,,,,Paytm,,,,,,,
13057,,,,,Paytm,Online,,,,,,Paytm,,,,,,,

In [8]:
master_df = master_df[master_df['Employee ID'].str.startswith('ETM')]
master_df

KeyError: 'Employee ID'

In [19]:
master_df = master_df[pd.notnull(master_df['Employee ID'])]

ValueError: cannot reindex on an axis with duplicate labels

In [11]:
master_df.rename(columns=master_df.iloc[0], inplace = True)
master_df = master_df[master_df['Employee ID'].str.startswith('ETM')]
master_df

TypeError: unhashable type: 'Series'

In [115]:
!pip3 install --upgrade pandas

Requirement already satisfied: pandas in c:\users\sagar\anaconda3\lib\site-packages (1.3.4)
Collecting pandas
  Downloading pandas-1.4.2-cp39-cp39-win_amd64.whl (10.5 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\sagar\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sagar\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\sagar\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\sagar\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.4
    Uninstalling pandas-1.3.4:
      Successfully uninstalled pandas-1.3.4
Successfully installed pandas-1.4.2

WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
df2gspread 1.0.4 requires google-api-python-client==1.6.7, but you have google-api-python-client 2.49.0 which is incompatible.
WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ysql-connector-python (c:\users\sagar\anaconda3\lib\site-packages)

In [33]:
# ,Sachin_df,Makarand_df,Shubham_df,Rohan_df,RazorPay_df,Paytm_df,BankTransferred_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID

In [34]:
akash_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID

In [35]:
sagar_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID
1,13/06/2022,13/06/2022,,Mumbai 60:40 Recovery,Cash,Cash,Vindyavasini Dubey,ETM20147,1300,9284961852,Silent Killers,sagar,,
2,13/06/2022,13/06/2022,,Mumbai 60:40 Recovery,Cash,Cash,Shailesh Tiwari,ETM20078,4400,7007444101,Deep Hunters,sagar,,
3,13/06/2022,13/06/2022,,Mumbai leasing Recovery,Cash,Cash,Kunal Rajendra Kamble,ETM20657,1200,7208428898,Deadly Shark,sagar,,
4,13/06/2022,13/06/2022,,Mumbai 60:40 Recovery,Cash,Cash,Bhagwan Muneshwar,ETM11022,7905,7710814772,Black Panthers,sagar,,
5,13/06/2022,13/06/2022,,Mumbai Leasing Deposit,Cash,Cash,#N/A,ETM21744,8000,#N/A,`,sagar,,
6,13/06/2022,13/06/2022,,Mumbai 60:40 Recovery,Cash,Cash,Sagar Manik Naravade,ETM12168,2550,8104392189,Black Panthers,sagar,,
7,13/06/2022,13/06/2022,,Mumbai Leasing Deposit,Cash,Cash,Mohammed Sabir Sayed,ETM15308,20000,9892195770,,sagar,,
8,13/06/2022,13/06/2022,,Mumbai Leasing Deposit,Cash,Cash,#N/A,ETM21756,2000,#N/A,,sagar,,
9,13/06/2022,13/06/2022,,Mumbai 60:40 Recovery,Cash,Cash,Sidhesh Sawant,ETM21175,100,7039372019,Terrific Tigers,sagar,,
10,13/06/2022,13/06/2022,,Mumbai 60:40 Recovery,Cash,Cash,Rajkumar Harishankar Gupta,ETM21424,2020,8779926442,Deep Hunters,sagar,,
11,13/06/2022,13/06/2022,,,,,Shakil Memon,ETM18225,15000,9930204138,,sagar,,

In [36]:
Makarand_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID
1,13/06/2022,13/06/2022,13/06/2022,Mumbai leasing Recovery,Cash,Cash,Ajay Kumar Ramagya Singh,ETM19331,1230,8169040561,Deadly Shark,,1532,
2,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Arvind V Chavan,ETM19640,1000,7738404621,Deep Hunters,,1401,
3,13/06/2022,13/06/2022,13/06/2022,Mumbai leasing Recovery,Cash,Cash,Abdullah Shaikh,ETM14076,3000,7757927284,Red Eagle,,1402,
4,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Avinash Ranaji Biradar,ETM20652,1714,8976248933,Terrific Tigers,,1403,
5,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Arvind V Chavan,ETM19640,100,7738404621,Deep Hunters,,1404,
6,13/06/2022,13/06/2022,13/06/2022,Mumbai leasing Recovery,Cash,Cash,Atul Chauhan,ETM00925,3000,7017430174,Red Eagle,,1405,
7,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Sayyed Mohmmed Jalal,ETM12875,2611,8779693956,Black Panthers,,1541,
8,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Mohd Mujibul Mohd Yunus Shaikh,ETM20386,3000,8452940666,Terrific Tigers,,1542,
9,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Farooque Khan,ETM03935,1540,9321336289,Deep Hunters,,1543,
10,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Zubair Mumtaz Shaikh,ETM10092,2730,9004023636,Silent Killers,,1544,
11,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Roshan Kumar Basantkumar Singh,ETM21309,2000,9321150245,Terrific Tigers,,1545,
12,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Avinash Bhawar,ETM04187,8207,8879000650,Terrific Tigers,,1546,
13,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Sanjay Kumar Thorat,ETM17097,1200,8766749811,Deep Hunters,,1547,
14,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Jitendra sharma,ETM19891,1409,7498095999,Terrific Tigers,,,

In [5]:
#importing libraries

import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#creating connections

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
Recoverysheetnew='1j9hmPHNmfjJp7nn4p8EVq8aciL8NfiO3hYWdf28aDzQ'
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Pratik')
data_pratik = ws.get_all_values()
data_pratik
pratik_df = pd.DataFrame(data_pratik)
pratik_df
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Akash Sonavane')
data_akash = ws.get_all_values()
akash_df = pd.DataFrame(data_akash)
akash_df
# akash_df.merge(pratik_df, how='inner', on='Week Begin date')
# akash_df
# df = pratik_df.append([akash_df],ignore_index=True)
# df
df =pd.concat([pratik_df,akash_df],axis=1,ignore_index = True)
df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,Week Begin date,Date of Updating,Date of Payment,Collection of Purpose,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,...,Mode Of Payment,Cash/Online,Name of Employee,Employee ID,Amount,Mobile,DM Name,transferred to Name of Person,Bank_Transaction_ID,Order_ID
1,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Ashutosh Yadav,ETM17342,1651,9559238915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Anil Anand Chawria,ETM19314,2400,9322468231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Sagar Vig,ETM18226,2229,7666576231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13/06/2022,13/06/2022,13/06/2022,Mumbai 60:40 Recovery,Cash,Cash,Rahul Godbole,ETM19736,2000,8104655688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Shazeb Akram shaikh,ETM21659,2000,8425837330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Zahid Tamankar,ETM09228,500,7304022236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Mohammad Kasim Mohd Ahemad Shaikh,ETM21734,1000,8928052530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Rohit Kumar Siyaram,ETM21730,2000,6306484742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Devendra Ram,ETM11393,2000,8097701560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,SARFARAZ HAROON SHAIKH,ETM21746,500,9172882200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Viresh Jayantilal Patel Patel,ETM21747,2000,9167546125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,NILESH VISHWANATH RUM,ETM21406,1000,8793849512,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Sagar Santosh Soni,ETM21715,900,7977075774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Satya Prakash Yadav,ETM21752,2000,7738715541,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,13/06/2022,13/06/2022,13/06/2022,Mumbai 60: 40 Joining Fees,Cash,Cash,Rushikesh Ashok Dorkar,ETP00170,1500,9561119268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,,,,,Cash,Cash,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Akash Sonavane')
data_akash = ws.get_all_values()
headers = data.pop(0)
akash_df = pd.DataFrame(data_akash,columns = headers)
akash_df

IndexError: pop from empty list

In [117]:
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Akash Sonavane')
data = ws.get_all_values()
akash_df= pd.DataFrame(data,columns = headers)
akash_df.dtypes

Week Begin date                  object
Date of Updating                 object
Date  of Payment                 object
Collection of Purpose            object
Mode Of Payment                  object
Cash/Online                      object
Name of Employee                 object
Employee ID                      object
Amount                           object
Mobile                           object
DM Name                          object
transferred to Name of Person    object
Bank_Transaction_ID              object
Order_ID                         object
dtype: object

In [92]:
sheet= client.open_by_key(Recoverysheetnew)
ws= sheet.worksheet('Akash Sonavane')
data = ws.get_all_values()
headers = data.pop(0)
akash_df= pd.DataFrame(data,columns=headers)
akash_df

Empty DataFrame
Columns: [Week Begin date, Date of Updating, Date  of Payment, Collection of Purpose, Mode Of Payment, Cash/Online, Name of Employee, Employee ID, Amount, Mobile, DM Name, transferred to Name of Person, Bank_Transaction_ID, Order_ID]
Index: []