In [4]:
!pip install -U pandasql

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F49A085A60>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pandasql/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F49A085790>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pandasql/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F49A0851F0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pandasql/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F49A093280>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pandasql/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001F49A093430>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/pandasql/
ERROR: Could not find a version that satisfies the requirement pandasql (from versions: none)
ERROR: No matching distribution found for pandasql

In [52]:
#importing libraries

import pandas as pd
import pandasql as ps
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#creating connections

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

repair_sheet_key='1kqbRWOVOMazHlGTz1G7ZWQFl1L2wVMw7KdVIJZCG55c'

In [48]:
# Dm name
sheet= client.open_by_key('11D8_6u4ywy3yNYyrnMonyti6eflqUtpMfsxgLMBXEzk')#Car no master list
ws= sheet.worksheet('Current')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[0,1]]
# sheet= client.open_by_key(repair_sheet_key)#Copy of Repairs - EFG Mumbai
# ws= sheet.worksheet('DM names')
# ws.clear() 
# ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')
# print("Dm name updated succesfully")

In [56]:
#In Progress Repair

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('In Progress Repair')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
dump_ipr=dfm.copy()#dump in progress repair
in_progress_repair_df=ps.sqldf(" select * from dfm where [Completion Error] = 'Completed' and [Verified by Floor Manager -Yes or No]='Yes' ")
in_progress_repair_df.drop('Final Status', axis=1,inplace=True)
print(in_progress_repair_df.head(10))

#In Progress Servicing

sheet= client.open_by_key(repair_sheet_key)#In progress repair
ws= sheet.worksheet('In Progress Servicing')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
dump_ips=dfm.copy()#dump in progress repair
in_progress_servicing_df=ps.sqldf(" select * from dfm where [Completion Error] = 'Completed' and [Checked by Floor Incharge Y/N]='YES' or [Checked by Floor Incharge Y/N]='yes' ")
in_progress_servicing_df.drop('Completed Error', axis=1,inplace=True)
print(in_progress_servicing_df.head(10))

#Repair Labor

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Repair Labor')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
dump_rl=dfm.copy()
repair_labor_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' ")
print(repair_labor_df.head(10))

#Servicing Labor

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Servicing Labor')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
dump_sl=dfm.copy()
servicing_labor_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' ")
print(servicing_labor_df.head(10))

#Repair Parts

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Repair Parts')
data = ws.get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data,columns=headers)
dfm=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]
dump_rp=dfm.copy()
repair_parts_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' and [Quantity] >= 1 and [Price] >= 1")
dump_rp_completed_repair_parts=repair_parts_df.copy()
dump_rp_completed_repair_parts
repair_parts_df.drop(['P3 Current Quantity','Total Current Quantity','Ignore Erorr','Completed?','Total Quantity','Helper'], axis=1,inplace=True)
print(repair_parts_df.head(10))

#Servicing Parts

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Servicing Parts')
data = ws.get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data,columns=headers)
dfm=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]
dump_sp=dfm.copy()
servicing_parts_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' and [Quantity] >= 1 and [Price] >= 1 ")
dump_sp_completed_repair_parts=servicing_parts_df.copy()
servicing_parts_df.drop(['P3 Current Quantity','Total Current Quantity','Ignore Erorr','Completed?','Total Quantity','Helper'], axis=1,inplace=True)
print(servicing_parts_df.head(10))

             Timestamp   Car Number    Job Id Name of Driver  \
0  18/06/2022 10:30:38  MH01DR 2318  ERM15044
1  23/06/2022 10:46:55  MH01DR 2470  ERM15267        Mushtaq
2  23/06/2022 11:15:53  MH01CV 7567  ERM15271
3  23/06/2022 11:30:25  MH01CV 0621  ERM15274
4  24/06/2022 09:59:40  MH01DR 2011  ERM15316        Pradeep
5  24/06/2022 10:08:25  MH01CV 7768  ERM15320   Mhomad shafi
6  24/06/2022 10:15:21  MH01CV 5219  ERM15322        Mehfuz
7  24/06/2022 11:15:38  MH01DR 2335  ERM15327
8  24/06/2022 12:04:20  MH01DR 2720  ERM15337
9  24/06/2022 12:16:39  MH01CV 9239  ERM15340        Kailash

  Contact number of Driver      Km       DM Name Name of Auditor  \
0                            82085     Red Eagle   Omkar Koyande
1               7738227871   69781  Deadly Shark   Omkar Koyande
2                           185943  Deadly Shark   Omkar Koyande
3                           239153          Sold   Omkar Koyande
4               9156448375  101338  Deadly Shark          Ganesh
5               9773012860  184664  Deadly Shark   Akshay Shirke
6               8667852391  225933  Deadly Shark          Sachin
7                           102394     Red Eagle   Omkar Koyande
8                            81216  Deadly Shark          Ganesh
9               8968817796  174221  Deadly Shark   Omkar Koyande

                                      Driver Remarks  \
0  Rr bhumper fitting, vehicle misfiring, bonet s...
1     Overheating, vehicle missing, suspension noise
2  Fr bumper fitting, lhs fender settings, missfi...
3                    Clutch plate, accelerator Cable
4                       Clutch hard, fr side noise,
5  Ac cooling less, rr left tayar vibrating , ghe...
6  Ac cooling less, brake not effective, wiper bl...
7                                        Overheating
8                                        Clutch hard
9                                      Break problem

                     Pilot came within 5000Km/15days  ... Total Cost  \
0  Pilot came within 5000 KM;Pilot came within 15...  ...   3,000.00
1                                                     ...   9,764.00
2                                                     ...  12,933.00
3                         Pilot came within 5000 KM;  ...   3,717.00
4                                                     ...   6,727.00
5  Pilot came within 5000 KM;Pilot came within 15...  ...  17,379.00
6                                                     ...   1,448.00
7                                                     ...   2,551.00
8  Pilot came within 5000 KM;Pilot came within 15...  ...   4,301.00
9                                                     ...     510.00

  Quantity of Spares Actual Date of Handover  \
0                  1     25/06/2022 16:27:13
1                 19     25/06/2022 16:27:13
2                 19     25/06/2022 16:27:13
3                  5     25/06/2022 16:27:13
4                 30     25/06/2022 16:27:13
5                  9     25/06/2022 16:27:13
6               5.25     25/06/2022 16:27:13
7                  4     25/06/2022 16:27:13
8                  5     25/06/2022 16:27:13
9                  2     25/06/2022 16:27:13

  Handover to or Final Inspection by Work Status Completion Error  \
0                     Allotment Team   Completed        Completed
1                     Allotment Team   Completed        Completed
2                     Allotment Team   Completed        Completed
3                     Allotment Team   Completed        Completed
4                             Driver   Completed        Completed
5                             Driver   Completed        Completed
6                     Allotment Team   Completed        Completed
7                     Allotment Team   Completed        Completed
8                     Allotment Team   Completed        Completed
9                     Allotment Team   Completed        Completed

                                           Remark              In time  \
0  CAR SEND TO BODYSHOP RR LH DOOR D/P 18/06/2022  18/06/2022 12:00:00
1                                                  23/06/2022 11:52:00
2                                                  23/06/2022 15:00:00
3                                                  24/06/2022 09:00:00
4                                                  24/06/2022 10:50:00
5                                                  24/06/2022 11:50:00
6                                                  24/06/2022 10:10:00
7                                                  24/06/2022 12:00:00
8                                                  24/06/2022 12:50:00
9                                                  24/06/2022 16:00:00

              Out time Verified by Floor Manager -Yes or No
0  25/06/2022 10:45:00                                  Yes
1  25/06/2022 10:45:00                                  Yes
2  25/06/2022 10:45:00                                  Yes
3  24/06/2022 11:00:00                                  Yes
4  24/06/2022 13:07:00                                  Yes
5  24/06/2022 16:45:00                                  Yes
6  25/06/2022 10:45:00                                  Yes
7  25/06/2022 10:45:00                                  Yes
8  24/06/2022 15:00:00                                  Yes
9  24/06/2022 17:00:00                                  Yes

[10 rows x 39 columns]
             Timestamp   Car Number    JOB ID  Name of Driver  \
0  24/06/2022 13:34:48  MH01CV 3064  ESM12286          Satyam
1  25/06/2022 08:01:08  MH01DR 8210  ESM12306           Sajid
2  25/06/2022 08:14:42  MH01DR 4085  ESM12307
3  25/06/2022 08:26:07  MH01DR 5671  ESM12308
4  25/06/2022 08:34:39  MH01DR 3234  ESM12309           Vijay
5  25/06/2022 08:46:49  MH01DR 4629  ESM12310  Abrar sidhiqui
6  25/06/2022 08:58:04  MH01DR 2647  ESM12311           Vinit
7  25/06/2022 09:17:18  MH01DR 2573  ESM12312    Sandip yadav
8  25/06/2022 09:26:35  MH01DR 8656  ESM12313  Ibrahim sheikh
9  25/06/2022 09:38:36  MH01CV 8544  ESM12314        Tauqeer

  Contact number of Driver      Km             DM Name Name of Auditor  \
0               8879967008  221236        Deadly Shark   Shubham Palav
1               9137414723    4230        Deep Hunters     Rohit Vasta
2                            43714      Silent Killers     Rohit Vasta
3                            18925     Terrific Tigers     Rohit Vasta
4               9450514995   47692        Deadly Shark     Rohit Vasta
5               9323470015   30015     Terrific Tigers     Rohit Vasta
6               7559153853   81974        Deadly Shark     Rohit Vasta
7               9920936154   60471        Deadly Shark     Rohit Vasta
8               7666778054    1298                #N/A     Rohit Vasta
9               9978684749  158175  Vinay Bhai Leasing     Rohit Vasta

                                      Driver Remarks              In Time  \
0  Starting problem , average issue , light check...  24/06/2022 13:22:00
1                                                 No  25/06/2022 08:01:52
2                                                 No  25/06/2022 08:00:00
3                                       Horn check,   25/06/2022 08:00:00
4                                                 No  25/06/2022 08:32:00
5                                                 No
6          Back side noise, tyre change, average low  25/06/2022 08:50:26
7  Wiper replace, seat cover, headlight bulb chec...  25/06/2022 09:06:26
8                                                 No  25/06/2022 09:26:26
9  Wiper replace, both headlight bulb check, ac o...  25/06/2022 09:24:11

   ... Total Cost Quantity of Spares Actual Date of Handover  \
0  ...   3,795.00              48.45     25/06/2022 12:32:39
1  ...       1.00                  0     25/06/2022 11:59:20
2  ...   1,047.00               5.37     25/06/2022 10:59:48
3  ...   1,107.00               7.16     25/06/2022 10:59:48
4  ...   1,784.00              13.12     25/06/2022 10:59:48
5  ...   1,119.00              10.13     25/06/2022 11:19:51
6  ...   1,346.00               8.03     25/06/2022 11:13:43
7  ...   2,259.00               17.1     25/06/2022 11:46:58
8  ...       1.00                  0     25/06/2022 12:09:57
9  ...   1,539.00              11.17     25/06/2022 11:55:19

  Handover to or Final Inspection by Work Status Completion Error  \
0                     Allotment Team   Completed        Completed
1                             Driver   Completed        Completed
2                     Allotment Team   Completed        Completed
3                     Allotment Team   Completed        Completed
4                             Driver   Completed        Completed
5                     Allotment Team   Completed        Completed
6                             Driver   Completed        Completed
7                             Driver   Completed        Completed
8                             Driver   Completed        Completed
9                             Driver   Completed        Completed

                  Remark           Start time             Out Time  \
0                         24/06/2022 15:00:00  24/06/2022 19:40:00
1                         25/06/2022 08:01:00  25/06/2022 08:10:00
2  KEY HANDOVER TO JEVAN  25/06/2022 08:25:00  25/06/2022 09:40:00
3  KEY HANDOVER TO JEVAN  25/06/2022 08:35:00  25/06/2022 09:15:00
4                         25/06/2022 08:45:00  25/06/2022 09:54:00
5                         25/06/2022 08:48:00  25/06/2022 09:55:00
6                         25/06/2022 09:35:16  25/06/2022 10:30:16
7                         25/06/2022 09:58:16  25/06/2022 11:10:16
8                         25/06/2022 09:26:16  25/06/2022 09:35:16
9                         25/06/2022 09:56:43  25/06/2022 11:14:43

  Checked by Floor Incharge Y/N
0                           YES
1                           YES
2                           YES
3                           YES
4                           YES
5                           yes
6                           yes
7                           yes
8                           yes
9                           yes

[10 rows x 39 columns]

     ERM ID                 Date   Car Number                Labor Code  \
0  ERM15044  25/06/2022 10:59:48  MH01DR 2318                Bumper R&R
1  ERM15044  25/06/2022 10:59:48  MH01DR 2318  Panel Denting & painting
2  ERM15044  25/06/2022 10:59:48  MH01DR 2318             Panel Denting
3  ERM15044  25/06/2022 10:59:48  MH01DR 2318             Headlight R&R
4  ERM15380  25/06/2022 11:46:58  MH01CV 7019             Brake service
5  ERM15380  25/06/2022 11:46:58  MH01CV 7019     Blower motor Cleaning
6  ERM15380  25/06/2022 11:46:58  MH01CV 7019             Condensor R&R
7  ERM15366  25/06/2022 13:10:58  MH01CV 0617                Spark plug
8  ERM15366  25/06/2022 13:10:58  MH01CV 0617                  Horn R&R
9  ERM15366  25/06/2022 13:11:10  MH01CV 0617                  Bulb R&R

  Technician Name Technician 2 Amount           Category Completed?  \
0          Vendor                 200          Body work  Completed
1          Vendor                 850          Body work  Completed
2          Vendor                 150          Body work  Completed
3          Vendor                 200          Body work  Completed
4         Mustafa                 400      Brakes System  Completed
5         Mustafa                 100          AC System  Completed
6         Mustafa                 300          AC System  Completed
7           Sunil                 100             Engine  Completed
8           Sunil                 100  Electrical System  Completed
9           Sunil                  50  Electrical System  Completed

  Duplicate Labor Entry
0                     1
1                     1
2                     1
3                     1
4                     1
5                     1
6                     1
7                     1
8                     1
9                     1
     JOB ID                 Date  Car Number   \
0  ESM12308  25/06/2022 10:59:48  MH01DR 5671
1  ESM12307  25/06/2022 10:59:48  MH01DR 4085
2  ESM12309  25/06/2022 10:59:48  MH01DR 3234
3  ESM12309  25/06/2022 10:59:48  MH01DR 3234
4  ESM12316  25/06/2022 10:59:48  MH01DR 8191
5  ESM12311  25/06/2022 11:13:43  MH01DR 2647
6  ESM12310  25/06/2022 11:19:51  MH01DR 4629
7  ESM12325  25/06/2022 11:33:09  MH01DR 7496
8  ESM12312  25/06/2022 11:46:58  MH01DR 2573
9  ESM12312  25/06/2022 11:46:58  MH01DR 2573

                           Labor Code Technician Name Technician 2 Amount  \
0  Regular Service with Tyre Rotation            Amol                 400
1  Regular Service with Tyre Rotation      Yogesh Lad                 400
2  Regular Service with Tyre Rotation  Sagar Dhangade        Osama    400
3                   Brake pad changed  Sagar Dhangade        Osama    200
4                        Only Checkup          My Car                   1
5  Regular Service with Tyre Rotation            Amol  Mayur Pande    400
6  Regular Service with Tyre Rotation   Ganesh Adsare                 400
7                        Only Checkup      Automotive                   1
8  Regular Service with Tyre Rotation      Yogesh Lad                 400
9                   Brake pad changed      Yogesh Lad                 200

        Category Completed?
0      Servicing  Completed
1      Servicing  Completed
2      Servicing  Completed
3  Brakes System  Completed
4      Servicing  Completed
5      Servicing  Completed
6      Servicing  Completed
7      Servicing  Completed
8      Servicing  Completed
9  Brakes System  Completed
     JOB ID       Date   Car Number Vehicle Brand              Part Number  \
0  ERM15274  24/6/2022  MH01CV 0621                 11710M67L00 - Ref Amin
1  ERM15274  24/6/2022  MH01CV 0621                48500M69R00 - Ref Akbar
2  ERM15274  24/6/2022  MH01CV 0621                  45201M69R01- Ref Amin
3  ERM15274  24/6/2022  MH01CV 0621                 45202M69R01- Ref Akbar
4  ERM15274  24/6/2022  MH01CV 0621                            15910M67L00
5  ERM15271  24/6/2022  MH01CV 7567                 11710M76M00 - Ref Amin
6  ERM15320  24/6/2022  MH01CV 7768                            95200M68KA1
7  ERM15320  24/6/2022  MH01CV 7768                            17120M76M00
8  ERM15320  24/6/2022  MH01CV 7768                        990J0M999H4-050
9  ERM15337  24/6/2022  MH01DR 2720                        99000M24120-872

                  Part Name    Vehicle Model Brand Name Correct Part?  \
0  Mounting, ENG RR Bushing          Wagon R      Local           Yes
1           Steering Repair          Wagon R      Local           Yes
2     Lower Arms Bushing LH          Wagon R      Local           Yes
3     Lower Arms Bushing RH          Wagon R      Local           Yes
4     Cable Assy, Acceletor          Wagon R        MGP           Yes
5  Mounting, ENG RR Bushing          Celerio      Local           Yes
6          Compressor Assy           Wagon R       MGP            Yes
7                 Fan Motor          Celerio        MGP           Yes
8                    AC Gas  Wagon R,Celerio        MGP           Yes
9               Clutch Kit           General        MGP           Yes

  Quantity     Price    Amount
0        1       250       250
1        1   1151.75   1151.75
2        1       250       250
3        1       250       250
4        1    215.33    215.33
5        1       250       250
6        1  10896.92  10896.92
7        1   1773.77   1773.77
8        1    383.74    383.74
9        1   2287.43   2287.43
     JOB ID       Date   Car Number Vehicle Brand           Part Number  \
0  ESM12308  25/6/2022  MH01DR 5671                Mobil Special 20W-50
1  ESM12308  25/6/2022  MH01DR 5671                         16510M65L10
2  ESM12308  25/6/2022  MH01DR 5671                      990JM999H2-260
3  ESM12308  25/6/2022  MH01DR 5671                            MFC-8108
4  ESM12308  25/6/2022  MH01DR 5671                            SMPBCRWR
5  ESM12307  25/6/2022  MH01DR 4085                Mobil Special 20W-50
6  ESM12307  25/6/2022  MH01DR 4085                         16510M65L10
7  ESM12307  25/6/2022  MH01DR 4085                      990JM999H2-260
8  ESM12309  25/6/2022  MH01DR 3234                Mobil Special 20W-50
9  ESM12309  25/6/2022  MH01DR 3234                         16510M65L10

             Part Name    Vehicle Model   Brand Name Correct Part? Quantity  \
0          Engine Oil   Celerio/Wagon R       Mobil            Yes      2.9
1           Oil Filter  Celerio/Wagon R          MGP           Yes        1
2      Screen Wash 50           General          MGP           Yes        1
3        Cabin Filter         S Presso       Mekino            Yes        1
4  Small Pressing Bulb  Celerio/Wagon R  KURLA LOCAL           Yes        1
5          Engine Oil   Celerio/Wagon R       Mobil            Yes      2.9
6           Oil Filter  Celerio/Wagon R          MGP           Yes        1
7      Screen Wash 50           General          MGP           Yes        1
8          Engine Oil   Celerio/Wagon R       Mobil            Yes      2.9
9           Oil Filter  Celerio/Wagon R          MGP           Yes        1

    Price   Amount
0  184.93  536.297
1   81.74    81.74
2   14.28    14.28
3   55.46    55.46
4     6.1      6.1
5  184.93  536.297
6   81.74    81.74
7   14.28    14.28
8  184.93  536.297
9   81.74    81.74

In [ ]:
#In Progress Repair

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('In Progress Repair')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
dump_ipr=dfm.copy()#dump in progress repair
in_progress_repair_df=ps.sqldf(" select * from dfm where [Completion Error] = 'Completed' and [Verified by Floor Manager -Yes or No]='Yes' ")
in_progress_repair_df.drop('Final Status', axis=1,inplace=True)
print(in_progress_repair_df.head(10))

In [3]:
#importing libraries

import pandas as pd
import pandasql as ps
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

#creating connections

scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)

repair_sheet_key='1kqbRWOVOMazHlGTz1G7ZWQFl1L2wVMw7KdVIJZCG55c'

ModuleNotFoundError: No module named 'pandasql'

In [6]:
# #Repair Labor

# sheet= client.open_by_key(repair_sheet_key)
# ws= sheet.worksheet('Repair Labor')
# data = ws.get_all_values()
# headers = data.pop(0)
# dfm = pd.DataFrame(data,columns=headers)
# dump_rl=dfm.copy()
# repair_labor_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' ")
# repair_labor_df

Empty DataFrame
Columns: [ERM ID, Date, Car Number, Labor Code, Technician Name, Technician 2, Amount, Category, Completed?, Duplicate Labor Entry]
Index: []

In [46]:
#Repair Parts

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Repair Parts')
data = ws.get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data,columns=headers)
dfm=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]
dump_rp=dfm.copy()
repair_parts_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' and [Quantity] >= 1 and [Price] >= 1")
dump_rp_completed_repair_parts=repair_parts_df.copy()
dump_rp_completed_repair_parts
repair_parts_df.drop(['P3 Current Quantity','Total Current Quantity','Ignore Erorr','Completed?','Total Quantity','Helper'], axis=1,inplace=True)
repair_parts_df

Empty DataFrame
Columns: [JOB ID, Date, Car Number, Vehicle Brand, Part Number, Part Name, Vehicle Model, Brand Name, Correct Part?, Quantity, Price, Amount]
Index: []

In [9]:
#In Progress Servicing

sheet= client.open_by_key(repair_sheet_key)#In progress repair
ws= sheet.worksheet('In Progress Servicing')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
in_progress_servicing_df=ps.sqldf(" select * from dfm where [Completion Error] = 'Completed' and [Checked by Floor Incharge Y/N]='YES' or [Checked by Floor Incharge Y/N]='yes' ")
in_progress_servicing_df

Empty DataFrame
Columns: [Timestamp, Car Number, JOB ID, Name of Driver, Contact number of Driver, Km, DM Name, Name of Auditor, Driver Remarks, In Time, Count of Car and date, Team Name, Final Mechanic Comments, Sub Category 1, Category 1, Sub Category 2, Pre Road Test remarks, AC Work, Remarks, Garage Location, Days in Servicing, Post Road Test TIme, Technician, Spare Parts needed?, Spare Parts used, Count of Spares, Spare Cost, Labor Used, Labor Cost, Total Cost, Quantity of Spares, Actual Date of Handover, Handover to or Final Inspection by, Work Status, Completion Error, Remark, Start time, Out Time, Checked by Floor Incharge Y/N, Completed Error]
Index: []

[0 rows x 40 columns]

In [10]:
#Servicing Labor

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Servicing Labor')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
dump_sl=dfm.copy()
servicing_labor_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' ")

Empty DataFrame
Columns: [JOB ID, Date, Car Number , Labor Code, Technician Name, Technician 2, Amount, Category, Completed?]
Index: []

In [47]:
#Servicing Parts

sheet= client.open_by_key(repair_sheet_key)
ws= sheet.worksheet('Servicing Parts')
data = ws.get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data,columns=headers)
dfm=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]
dump_sp=dfm.copy()
servicing_parts_df=ps.sqldf(" select * from dfm where [Completed?] = 'Completed' and [Quantity] >= 1 and [Price] >= 1 ")
dump_sp_completed_repair_parts=servicing_parts_df.copy()
servicing_parts_df.drop(['P3 Current Quantity','Total Current Quantity','Ignore Erorr','Completed?','Total Quantity','Helper'], axis=1,inplace=True)

Empty DataFrame
Columns: [JOB ID, Date, Car Number, Vehicle Brand, Part Number, Part Name, Vehicle Model, Brand Name, Correct Part?, Quantity, Price, Amount]
Index: []

In [40]:
df

,JOB ID,Date,Car Number,Vehicle Brand,Part Number,Part Name,Vehicle Model,Brand Name,Correct Part?,Quantity,Price,Amount,P3 Current Quantity,Total Current Quantity,Ignore Erorr,Completed?,Total Quantity,Helper,,
0,ESM12308,25/6/2022,MH01DR 5671,,Mobil Special 20W-50,Engine Oil,Celerio/Wagon R,Mobil,Yes,2.9,184.93,536.297,727.2,1351.2,Yes,No,1371.5,727.2,MH01DR 5671Mobil Special 20W-50,1
1,ESM12308,25/6/2022,MH01DR 5671,,16510M65L10,Oil Filter,Celerio/Wagon R,MGP,Yes,1,81.74,81.74,129,129,Yes,No,136,129,MH01DR 567116510M65L10,1
2,ESM12308,25/6/2022,MH01DR 5671,,F002H600208F8,Brake Fluid Dot 4,"Celerio, Wagon R & S Presso",Bosch,Yes,0.02,264.76,5.2952,11.97,11.97,Yes,No,12.36,11.97,MH01DR 5671F002H600208F8,1
3,ESM12308,25/6/2022,MH01DR 5671,,Coolant Mix (1:2),Coolant Mix (1:2),Celerio/Wagon R,Workshop,Yes,0.2,35.7,7.14,88,88,Yes,No,114.85,88,MH01DR 5671Coolant Mix (1:2),1
4,ESM12308,25/6/2022,MH01DR 5671,,DMDW01,Distilled Water Ltr,"Wagon R,Celerio",DM WATER,Yes,0.04,10.88,0.4352,116.8,116.8,Yes,No,117.44,116.8,MH01DR 5671DMDW01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,,,,,,,,,,,,0,,,,,,,,0
645,,,,,,,,,,,,0,,,,,,,,0
646,,,,,,,,,,,,0,,,,,,,,0
647,,,,,,,,,,,,0,,,,,,,,0
648,,,,,,,,,,,,0,,,,,,,,0